@import "~bootswatch/dist/united/variables";
@import "../../mixins";

.KMPackages__Import {
    .dropzone {
        height: 300px;
        margin: auto;
        border: 10px dashed #eee;
        @include transition(border-color 0.1s ease-in);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &.active {
            border: 10px dashed $primary;
        }

        p {
            padding: 20px;
            font-size: 16px;
            color: $secondary;
        }
    }

    .file-view {
        height: 300px;
        margin: auto;
        border: 10px solid #eee;
        background: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;

        .file {
            .fa {
                display: block;
                font-size: 40px;
            }

            .filename {
                margin-top: 20px;
                font-size: 20px;
            }
        }

        .actions {
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10px;

            .btn {
                min-width: 100px;
            }
        }
    }
}
