.item-id-box {
    position: relative;
    padding-right: 1.5rem !important;

    .copy-button {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        cursor: pointer;
    }
}