@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

@import "reset";

body {
    font-family: 'Nunito', sans-serif;
    overscroll-behavior: none;
    min-height: calc(100vh - 3.125rem);
}
