@import "../mixins";
@import "public/forgotten-password";
@import "public/login";
@import "public/signup";
@import "public/signup-confirmation";


.public {
    padding-top: 60px;

    h2 {
        color: #fff;
    }

    .navbar-nav {
        float: right;

        & > li {
            a:focus {
                background-color: transparent;
            }

            a:hover {
                background-color: #ac3911;
            }
        }
    }
}
