@import "~bootswatch/dist/united/variables";
@import "./Public/BookReference";
@import "./Public/Questionnaire";
@import "./Public/Signup";

.public {
    padding-top: 160px;
    padding-bottom: 50px;

    .navbar-brand {
        color: $white;
    }

    .navbar-expand-sm {
        z-index: 900;

        .navbar-nav {
            & > li {
                a {
                    color: $white;
                    border-radius: 5px;
                    margin-left: 0.5rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                a:focus {
                    background-color: transparent;
                }

                a:hover {
                    background-color: darken($primary, 15%);
                }
            }
        }
    }

    .card-header {
        font-weight: bold;
    }

    .card-body {
        .form-group:last-child {
            margin-bottom: 0;
            margin-top: 30px;
        }
    }
}
