@import "Public/ForgottenPassword";
@import "Public/Login";
@import "Public/Signup";
@import "Public/SignupConfirmation";


.public {
    padding-top: 60px;

    h2 {
        color: #fff;
    }

    .navbar-nav {
        float: right;

        & > li {
            a:focus {
                background-color: transparent;
            }

            a:hover {
                background-color: #ac3911;
            }
        }
    }
}
