@import '../../../variables';
@import 'variables';

$toolbar-height: 53px;
$toolbar-height-with-tags: 90px;

.KMEditor__Editor__Preview {
    height: calc(100vh - #{$editor-header-height});
    padding: 0;

    .toolbar {
        padding: 0.5rem 1rem;
        height: $toolbar-height;
        background: $gray-100;
        border-bottom: 1px solid $gray-400;

        .btn-link {
            white-space: nowrap;
            color: $body-color !important;

            .fas {
                color: $gray-600 !important;
            }

            &:hover {
                background: $gray-200;
            }
        }

    }

    .questionnaire {
        height: calc(100vh - #{$editor-header-height} - #{$toolbar-height});
    }

    &--WithTags {
        .toolbar {
            height: $toolbar-height-with-tags;
        }

        .questionnaire {
            height: calc(100vh - #{$editor-header-height} - #{$toolbar-height-with-tags});
        }

        .tag-selection {
            .tag-list {
                white-space: nowrap;
                overflow-y: auto;

                .tag {
                    margin-bottom: 0;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
