@import '../../mixins';
@import '../../variables';

@import 'Detail/QuestionnaireVersionViewModal';
@import 'Detail/UserSuggestionDropdown';

$nav-row-height: 32px;
$nav-row-padding: 16px;
$header-height: 2 * ($nav-row-height + $nav-row-padding) + 1;
$content-height: calc(100vh - #{$header-height});
$public-content-height: calc(100vh - #{$header-height + $public-header-height});


.Projects__Detail {
    .public--app & {
        height: calc(100vh - #{$public-header-height});

        .questionnaire {
            height: $public-content-height;
        }
    }

    .app-fullscreen & {
        height: 100vh;

        .questionnaire {
            height: 100vh;
        }
    }

    &__Content {
        height: $content-height;
        overflow: auto;

        .public--app & {
            height: $public-content-height;
        }

        &--Todos {
            .container {
                margin: 2rem auto;

                .list-group {
                    a {
                        color: $body-color;

                        &:hover {
                            text-decoration: none;
                            color: var(--bs-primary);
                        }

                        p {
                            margin-bottom: 0;

                            &.nested {
                                border-left: 5px $gray-300 solid;
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
        }

        &--Metrics {
            .container {
                margin: 2rem auto;
            }
        }

        &--Preview {
            overflow: hidden;

            iframe {
                width: 100%;
                border: 0;
                height: $content-height;
                padding: 0;
                margin: 0;
            }
        }

        &--Documents {
            .container {
                margin: 2rem auto;
            }
        }

        &--NewDocument {
            .container {
                margin: 2rem auto;
            }

            .indication-table {
                color: $gray-600;
                width: 100%;

                .progress {
                    width: 15rem;
                    height: 10px;
                    margin-left: 1rem;
                    float: right;
                }
            }
        }

        &--Settings {
            display: flex;
            justify-content: center;

            .form-group-project-tags {
                .project-tag {
                    background: $gray-200;
                    padding: .25rem .75rem;
                    @include border-radius($border-radius);
                    margin-bottom: .5rem;
                    display: flex;
                    justify-content: space-between;

                    &:hover {
                        background: $gray-300;
                    }
                }

                .project-tags-suggestions {
                    background: #fff;
                    position: absolute;
                    width: 100%;
                    border: 1px solid $gray-400;
                    @include border-radius($border-radius);
                    z-index: 10;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    max-height: 200px;
                    overflow: auto;
                }
            }

            .container {
                margin: 2rem auto;
            }

            .separator {
                margin: 3rem 0;
            }

            .package-link {
                color: $body-color;
                text-decoration: none;
                display: block;
                margin-top: 1rem;

                .TypeHintInput__TypeHints__ComplexItem {
                    border: 1px solid $gray-400;
                    @include border-radius($border-radius);
                    padding: .375rem .75rem;
                }

                &:hover {
                    .TypeHintInput__TypeHints__ComplexItem {
                        background: $gray-200;
                    }
                }
            }

            .card {
                margin-top: 1rem;

                .card-body {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .card-text {
                        margin: 0;
                    }
                }
            }
        }
    }

    .questionnaire {
        height: $content-height;
    }

    .ShareModal__Users {
        .form-group {
            margin-top: 0.75rem;
            margin-left: -1rem;
            margin-right: -1rem;

            label {
                display: none;
            }
        }

        .user-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 0.5rem;
            padding: 0.25rem 1rem 0.25rem 0.5rem;
            border-top-left-radius: 5rem;
            border-bottom-left-radius: 5rem;

            &:hover {
                background: $gray-200;
            }

            & > div {
                display: flex;
                align-items: center;
            }

            .ItemIcon {
                margin-right: 0.5rem;
            }

            .fa {
                margin-left: 0.5rem;
            }
        }

        hr {
            margin-left: -1rem;
            margin-right: -1rem;
        }
    }



    .ShareDropdown {

        .dropdown-menu {
            width: 300px;
            white-space: normal;

            .dropdown-item {
                padding: $spacer-1 $spacer-3;

                color: $gray-900;
                text-decoration: none !important;

                &:not([href]) {
                    color: $gray-900;

                    &:hover {
                        color: $gray-900;
                    }
                }

                &:active, &:not([href]):active {
                    color: $light;

                    &.text-danger {
                        background-color: $danger;
                        color: $light !important;
                    }
                }

                .fa {
                    width: 1.5rem;
                    text-align: center;
                    margin-right: $spacer-1;

                }
            }
        }
    }
}