$nav-row-height: 32px;
$nav-row-padding: 16px;
$header-height: 2 * ($nav-row-height + $nav-row-padding) + 1;
$content-height: calc(100vh - #{$header-height});

.Projects__Import {
    &__Content {
        height: $content-height;

        &__Questionnaire {
            display: flex;

            .questionnaire {
                height: $content-height;
            }

            &__Results {
                flex: 0 0 20rem;
                overflow: auto;
                height: $content-height;
                padding: 1rem;
                border-right: 1px solid $gray-400;
                background: $gray-100;

                .alert-danger, .EventDetail {
                    padding: $spacer-2 $spacer-3;
                    margin-bottom: $spacer-2;
                }

                .EventDetail {
                    background: $white;
                    border-radius: $border-radius;
                    border: 1px solid $gray-400;

                    .fa-ul {
                        margin-top: $spacer-1;
                        margin-bottom: 0;
                        margin-left: $spacer-4;
                    }
                }
            }

        }
    }
}
