@import '../../../variables';

.ItemIcon {
    background: $gray-400;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    flex-grow: 0;
    flex-shrink: 0;

    &--small {
        width: 1.25rem;
        height: 1.25rem;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 2.5rem;
    }

    &--App {
        background: $side-navigation-bg;
        border: 1px solid $side-navigation-border-color;
        overflow: hidden;

        img {
            width: 1.75rem;
            height: 1.75rem;
            border-radius: unset;
        }
    }
}
