@import '../mixins';
@import '../variables';


.btn {
    @include not-selectable();

    &:not(.btn-link):hover {
        color: var(--bs-btn-hover-color) !important;
    }

    &-wide {
        min-width: 100px;
        text-align: center;
    }

    &.with-icon {
        .fas, .far, .fab {
            margin-right: $spacer-2;
        }
    }

    &-sm.with-icon, &-link.with-icon {
        .fas, .far, .fab {
            margin-right: $spacer-1;
        }
    }

    &[disabled] {
        cursor: not-allowed;
    }

    &-danger {
        color: $white !important;
        text-decoration: none !important;
    }

    &-external-login {
        width: 100%;
        border: 0;
        margin-bottom: 0.5rem;
        text-decoration: none !important;
        transition: opacity 0.15s ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }

    &-file {
        position: relative;
        overflow: hidden;

        input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    }

    &-input {
        background: $white;
        border: 1px solid $gray-400;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover, &:active, &:focus {
            background: $white !important;
            border: 1px solid $gray-400 !important;
        }
    }
}
