@import '../mixins';
@import '../variables';

.file-tree {
    width: 100%;
    position: relative;
    overflow: auto;

    @include indent(0, 20);

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding: 0 0 0 20px;
            position: relative;

            &.selected::after {
                height: 27px;
                position: absolute;
                left: 0;
                top: -2px;
                background: $gray-400;
                content: ' ';
                z-index: -1;
            }

            .fas, .far, .fab{
                margin-right: 5px;
                margin-top: 3px;
            }

            .active {
                font-weight: 600;
            }

            a {
                white-space: nowrap;
                padding: 1px 0;
                display: inline-block;
                z-index: 1;
                position: relative;
                color: $body-color !important;
                width: 100%;
                text-decoration: none;

                &:hover {
                    text-decoration: none !important;

                    span {
                        text-decoration: underline;
                    }
                }
            }

            .caret {
                position: absolute;
                left: 0;
                width: 25px;
                text-align: center;
                color: $gray-900;
                z-index: 1;

                &:hover {
                    color: $gray-600;
                }
            }
        }
    }
}
