.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    h2 {
        margin: 0;
    }

    .actions {
        text-align: right;

        .btn {
            display: inline-block;
            margin-left: 10px;
            margin-top: 7px;
            min-width: 100px;
        }
    }
}
