@import '../variables';
@import '../mixins';

a {
    cursor: pointer;
    text-decoration: none;

    &:not([href]):not([class]) {
        color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));

        &:hover {
            text-decoration: underline;
            color: rgba(var(--bs-link-hover-color-rgb), var(--bs-link-opacity, 1));
        }
    }

    &.btn,
    &.dropdown-item,
    &.logo,
    &.navbar-brand,
    &.nav-link {
        text-decoration: none !important;
    }

    &:hover {
        text-decoration: underline;
    }

    &.disabled {
        text-decoration: none;
        color: $gray-500;
    }
}


.with-icon {
    .fas, .far, .fab {
        margin-right: $spacer-1;
    }
}

.with-icon-after {
    .fas, .far, .fab {
        margin-right: 0;
        margin-left: $spacer-2;
    }
}
