@import '../variables';
@import '../mixins';

a {
    cursor: pointer;
    text-decoration: none;

    &.btn,
    &.dropdown-item,
    &.logo,
    &.navbar-brand,
    &.nav-link {
        text-decoration: none !important;
    }

    &:hover {
        text-decoration: underline;
    }

    &.disabled {
        text-decoration: none;
        color: $gray-500;
    }
}


.with-icon {
    .fas, .far, .fab {
        margin-right: $spacer-1;
    }
}

.with-icon-after {
    .fas, .far, .fab {
        margin-right: 0;
        margin-left: $spacer-2;
    }
}
