@import '../../variables';

.Users__Edit {
    &__navigation {
        flex: 0 0 20rem;
        height: 100%;
        overflow: auto;
        padding: 1rem;

        strong {
            margin-bottom: 0.5rem;

            &:not(:first-child) {
                margin-top: 1.5rem;
            }
        }
    }

    &__content {
        flex-grow: 1;
        height: 100%;
        overflow: auto;
        padding: 1rem;

        .col-border-left {
            img {
                margin: $spacer-3 0;
            }
        }

        h3 {
            margin-bottom: 1rem;

            &:not(:first-child) {
                margin-top: 3rem;
            }
        }
    }
}