@import '../../variables';
@import '../../mixins';

.Users__Index {
    .user-card {
        display: flex;
        background: $gray-200;
        @include border-radius($border-radius);
        padding: 20px;
        margin: auto;
        justify-content: flex-start;
        align-items: center;

        .icon {
            margin-right: 1rem;
        }

        .name {
            margin-right: 0.5rem;
        }

        .badge {
            vertical-align: baseline;
        }

        .email {
            word-break: break-all;
        }
    }
}
