@import '~bootstrap/scss/functions';
@import "~bootstrap/scss/variables";


$code-block-bg-scale: -95% !default;
$code-block-bg: shift-color($code-color, $code-block-bg-scale);

$illustrations-color: #ff6347 !default;
