@import '../../variables';
@import '../../mixins';

.Markdown {
    img {
        max-width: 100%;
    }

    del {
        background: none;
    }

    pre {
        @include border-radius(.25rem);
        background: $code-block-bg;
        padding: .5rem;
    }

    ul, ol {
        padding-left: 1rem;

        li {
            input[type=checkbox] {
                margin-right: 0.25rem;
            }
        }
    }

    table {
        margin-bottom: 1rem;
        width: 100%;

        tr {
            td, th {
                border: 1px solid $gray-400;
                padding: .25rem .5rem
            }
        }
    }
}