@import "../../variables";

.Questionnaire {
    height: 100%;
    display: flex;

    .col {
        height: 100%;
        overflow: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .chapter-list {
        flex: 0 0 20rem;
        height: 100%;
        overflow: auto;
        padding: 1rem;
    }

    .questionnaire-body {
        flex-grow: 1;
        height: 100%;
        overflow: auto;
        padding: 1rem;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .chapter-description {
        margin-bottom: 50px;
        text-align: justify;
    }

    .nav {
        margin-bottom: 35px;

        strong {
            margin-bottom: 0.5rem;
        }

        a {
            word-wrap: break-word;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .chapter-number {
                min-width: 1.5em;
                text-align: right;
            }

            .chapter-name {
                flex-grow: 1;
                margin-left: 0.5em;
                margin-right: 0.5em;
            }
        }
    }

    .level-selection {
        margin-bottom: 35px;
        border: none;

        .card-body {
            padding: 1rem;
        }
    }

    .form-text {
        margin-bottom: 0;
    }

    .extra-data {
        margin-top: .25rem;
        color: $gray-600;
        line-height: 1.6;

        & > span {
            margin-right: 15px;
            display: block;

            .fa {
                color: $gray-700;
                margin-right: 7px;
            }

            a, span {
                font-style: italic;
            }

            a {
                color: $gray-600;
                text-decoration: underline;

                &:hover {
                    color: $primary;
                }
            }

            .caption, .separator {
                margin-right: 5px;
            }

            .caption {
                font-style: normal;
            }
        }
    }

    .summary-report {
        h3 {
            margin-top: 50px;
        }

        .table-metrics-report {
            tbody {
                tr {
                    td:nth-child(1) {
                        width: 30%;
                    }

                    td:nth-child(2) {
                        width: 10%;
                    }

                    td:nth-child(3) {
                        width: 60%;
                    }
                }
            }
        }

        .indication-table {
            margin-bottom: 2rem;

            .indication {
                .progress {
                    width: 15rem;
                    margin-left: 1rem;
                    height: 10px;
                }
            }
        }
    }

    .todos {
        .list-group {
            a {
                color: $body-color;

                &:hover {
                    text-decoration: none;
                    color: $primary;
                }

                p {
                    margin-bottom: 0;

                    &.nested {
                        border-left: 5px $gray-300 solid;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

