@import '../../variables';

.tag-list {
    &-view {
        .tag {
            .tag-label{
                cursor: default !important;
            }
        }
    }

    .tag {
        display: inline-block;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;

        .tag-label {
            @include border-radius($border-radius);
            padding: 0.375rem 0.75rem;
            font-weight: normal;
            cursor: pointer;
            margin: 0;
            background: $tag-default-background;
            color: $tag-default-color;

            &.untitled {
                font-style: italic;
            }

            input {
                margin-right: 0.5rem;
            }
        }
    }
}
