@import "~bootswatch/dist/united/variables";
@import "../../mixins";

.KMEditor__Editor {
    .editor-title {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            margin: 0;
        }
    }

    .form-group {
        margin-bottom: 40px;
    }

    .card .form-group:last-child {
        margin-bottom: 0;
    }

    textarea {
        min-height: 150px;
    }

    .input-children {
        margin: 0;
        padding: 0;
    }

    .input-child {
        padding: 8px 12px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        background: $gray-200;
        border: 1px solid $gray-400;
        border-radius: 4px;
        width: 100%;
        cursor: move;
        @include not-selectable();

        a {
            text-decoration: underline;
        }

        .panel-input-child-actions {
            a {
                margin-left: 10px;
            }
        }
    }

    .input-child-placeholder {
        border: 1px dashed $primary;
        background: #fff;
        color: #fff;
        @include not-selectable();
    }

    .link-add-child {
        margin-top: 10px;
        display: inline-block;
    }

    .form-actions {
        margin-bottom: 50px;
    }

    .tree-col {
        background: $gray-200;
        overflow: auto;
        padding: 0;
        border-right: 1px solid $gray-400;
    }
}
