@import "~bootswatch/dist/united/variables";


.KMEditor__Preview {
    margin-top: 30px;

    .questionnaire-header {
        position: fixed;
        top: 0;
        left: 240px;
        right: 0;
        z-index: 1000;

        .questionnaire-header-content {
            background: $dark;
            color: $white;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;

            .btn {
                margin-left: 20px;
            }

        }
    }

    .tag-selection {
        margin: 0 -15px 20px;
        padding: 20px;
        background: $gray-200;
        border-bottom: 1px solid $gray-400;

        .tag-selection-header {
            margin-bottom: 1rem;

            a {
                margin-left: 1rem;
            }
        }
    }
}

.side-navigation-collapsed {
    .KMEditor__Preview {
        .questionnaire-header {
            left: 50px;
        }
    }
}