.KMEditor__Publish {
    .version-inputs {
        font-weight: bold;

        input {
            display: inline-block;
            width: 60px;
            text-align: center;
            margin: 5px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
