@import '../../../mixins';
@import '../../../variables';

.ListingDropdown {
    .dropdown-toggle {
        &::after {
            display: none;
        }
    }

    .dropdown-item {
        padding: $spacer-1 $spacer-3;

        color: $gray-900;
        text-decoration: none !important;

        &:active {
            color: $light !important;

            &.text-danger {
                background-color: $danger;
                color: $light !important;
            }
        }

        .fas, .far, .fab {
            width: 1.5rem;
            text-align: center;
            margin-right: $spacer-1;
        }
    }
}