@import '../../../mixins';
@import '../../../variables';

.Listing {
    width: 100%;

    .listing-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .filter-sort {
            & > .btn, & > .btn-group {
                margin-bottom: $spacer-2;

                &:not(:last-child) {
                    margin-right: $spacer-3;
                }

                .badge {
                    margin-left: $spacer-1;
                }
            }

            & > .btn-group > .btn {
                box-shadow: none !important;
            }
        }

        .btn-group-filter {
            & > div {
                position: unset !important;

                .dropdown-menu {
                    transform: none !important;
                    top: 35px !important;
                }
            }
        }

        .listing-toolbar-extra {
            margin-right: 1rem;
        }

        .btn-primary {
            min-width: 100px;
        }

        .dropdown-toggle {
            max-width: $listing-filter-dropdown-width;
            display: flex;
            align-items: baseline;
            overflow-x: hidden;
            text-overflow: ellipsis;

            &::after {
                padding-bottom: 0.15rem;
            }

            .filter-text-label {
                flex-grow: 1;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }

        .dropdown-menu {
            width: $listing-filter-dropdown-width;
            overflow-x: hidden;

            .dropdown-item {
                overflow-x: hidden;
                text-overflow: ellipsis;

                .ItemIcon {
                    display: inline-flex;
                    margin-right: 0.25rem;
                    vertical-align: bottom;
                }
            }

            .dropdown-item-search {
                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
            }

            .dropdown-item-empty {
                padding: 0.5rem 1.5rem;
                font-style: italic;
                color: $text-muted;
            }

            .dropdown-item-operator {
                display: flex;
                margin: -0.5rem 0;
                gap: 1px;
                background: $gray-200;

                a {
                    flex: 1 1 0;
                    width: 0;
                    padding: 0.15rem;
                    text-align: center;
                    text-decoration: none;
                    font-variant: small-caps;
                    text-transform: lowercase;
                    background: $gray-200;
                    color: $gray-500;

                    &:hover, &.active {
                        color: $gray-700;
                        background: $white;
                    }
                }
            }
        }
    }

    .list-group-item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .additional-data {
            flex-basis: 100%;
            padding-left: 3.5rem;
            margin-top: 1rem;

            .timestamp {
                color: $gray-500;
                font-style: italic;
            }

            .fragment-user {
                display: flex;
                align-items: center;

                .ItemIcon {
                    margin-right: 0.5rem;
                }
            }

            .external-link {
                .fa {
                    margin-left: 0.25rem;
                }
            }
        }

        &:hover {
            background: $gray-200;
        }

        &:first-child {
            border-top: 1px solid rgba(0, 0, 0, .125) !important;
        }

        &:last-child:first-child {
            border-bottom: 1px solid rgba(0, 0, 0, .125);
        }

        .ItemIcon {
            margin-right: 1rem;
        }

        .content {
            flex-basis: 0;
            flex-grow: 1;
            min-width: 0;
        }

        .description, .title {
            a {
                text-decoration: none;

                &:not(.badge):hover {
                    text-decoration: underline;
                }
            }
        }

        .title {
            a {
                color: $body-color !important;
            }
        }

        .description {
            a {
                color: $gray-700;
            }
        }

        .title-row {
            margin-bottom: 0.25rem;
            display: flex;
            justify-content: space-between;

            .title {
                font-weight: bold;
                min-width: 0;

                & > span {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    & > .fa {
                        margin-left: 0.5rem;
                        color: $gray-500;
                    }

                    & > .with-tooltip {
                        margin-left: 0.5rem;

                        .fa {
                            color: $gray-500;
                        }
                    }
                }
            }

            a:not(.badge) {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .badge {
                margin-left: 0.5rem;

                .fa {
                    margin-right: 0.25rem;
                }
            }
        }

        .extra {
            display: flex;
            justify-content: space-between;

            .description {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                .fragment {
                    img {
                        margin-right: .25rem;

                        &.user-icon-only:last-child {
                            margin-right: 0;
                        }

                        vertical-align: text-top;
                    }

                    .progress {
                        display: inline-flex;
                        width: 100px;
                    }

                    .organization-image {
                        width: 1.125rem;
                        height: 1.125rem;
                        border-radius: 100%;
                    }
                }
            }
        }

        .updated {
            span {
                font-style: italic;
                color: $gray-500;
                white-space: nowrap;
                padding-left: 0.5rem;
            }

            @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
                display: none;
            }
        }

        .actions {
            margin-left: 1rem;
            margin-right: -0.5rem;
        }

        .fragment {
            & > *:not(:first-child) {
                margin-left: $spacer-1;
            }

            &:not(code) {
                color: $gray-700;
            }

            .fa {
                margin-right: 0.3rem;
            }

            &-icon-light {
                .fa {
                    color: $gray-500;
                }
            }

            & + .fragment {
                margin-left: 0.5rem;

                &:before {
                    content: '·';
                    margin-right: 0.5rem;
                    display: inline-block;
                    text-decoration: none !important;
                }
            }
        }
    }

    .pagination {
        justify-content: center;
        margin-top: 2rem;

        .page-item {
            @include not-selectable;

            &.active {
                .page-link {
                    color: $white !important;
                }
            }

            &.disabled {
                cursor: not-allowed;
            }

            .page-link {
                &:hover, &:active {
                    text-decoration: none !important;
                }
            }

            .fa {
                font-size: 80%;
            }

            &.icon-left {
                .fa {
                    margin-right: 0.25rem;
                }
            }

            &.icon-right {
                .fa {
                    margin-left: 0.25rem;
                }
            }
        }
    }
}
