@import "../../../variables";

.PasswordBar {
    display: flex;
    margin-top: 3px;


    div {
        flex-grow: 1;
        height: 5px;
        background-color: $gray-200;
        margin: 1px;
        border-radius: 5px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }


    &--VeryWeak {
        div:first-child {
            background-color: $color-value-0;
        }
    }

    &--Weak {
        div:nth-child(1), div:nth-child(2) {
            background-color: $color-value-30;
        }

    }

    &--Reasonable {
        div:nth-child(1), div:nth-child(2), div:nth-child(3) {
            background-color: $color-value-60;
        }
    }

    &--Strong {
        div:not(:last-child) {
            background-color: $color-value-80;
        }
    }

    &--VeryStrong {
        div {
            background-color: $color-value-100;
        }
    }
}