@import "../../../mixins";
@import "../../../variables";

$toolbar-height: 40px;

.questionnaire {
    &.toolbar-enabled {
        .questionnaire__body {
            height: calc(100% - #{$toolbar-height});
        }
    }

    &__body {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__toolbar {
        width: 100%;
        height: $toolbar-height;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $gray-100;
        border-bottom: 1px solid $gray-400;

        .badge {
            margin-left: 0.5rem
        }

        .item-group {
            display: flex;
            align-items: center;
            padding: 20px 0;
        }

        .item {
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
            padding: 8px;
            border-radius: .25rem;
            color: $gray-900 !important;
            text-decoration: none !important;


            &:hover {
                background: $gray-200;
            }

            &.selected {
                background: $gray-500;
                color: $white !important;
            }
        }

        &__left {
            display: flex;
            margin-left: 16px;
            align-items: center;

            .item-group {
                margin-right: 32px;
            }
        }

        &__right {
            display: flex;
            margin-right: 16px;
            align-items: center;

            .item-group {
                margin-left: 32px;
            }
        }

        .dropdown-toggle {
            &::after {
                display: none;
            }
        }

        .dropdown-item {
            color: $body-color !important;
            text-decoration: none !important;

            &:active {
                background-color: $gray-100 !important;
            }

            &-icon {
                padding-left: 3rem;
                position: relative;

                .fa {
                    position: absolute;
                    left: 1.5rem;
                    top: 0.5rem;
                }
            }
        }
    }

    &__left-panel {
        flex: 0 0 20rem;
        overflow: auto;
        padding: 1rem;

        strong {
            display: block;
            margin-bottom: .5rem;
        }

        &__phase {
            background: $gray-100;
            padding: 1rem;
            border-radius: $border-radius;
            margin-bottom: 2rem;
        }

        &__chapters {
            margin-bottom: 2rem;

            .nav {
                .nav-link {
                    .chapter-number {
                        min-width: 1.5em;
                        text-align: right;
                    }

                    .chapter-name {
                        flex-grow: 1;
                        margin-left: 0.5em;
                        margin-right: 0.5em;
                    }
                }
            }
        }

        &__more {

        }

        .nav-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__content {
        flex-grow: 1;
        overflow: auto;
        padding: 1rem;

        .chapter-description {
            margin-bottom: 50px;
            text-align: justify;
        }
    }

    &__right-panel {
        flex: 0 0 20rem;
        overflow: auto;
        padding: 1rem;
        border-left: 1px solid $gray-400;


        .history {
            .form-check {
                background: $gray-100;
                margin: -1rem -1rem 0 -1rem;
                padding: 1rem;
                border-bottom: 1px solid $gray-400;

                label {
                    font-weight: 600;
                }
            }

            .fa-ul {
                margin-left: 1.5rem;
                margin-bottom: 0;

                .fa-li {
                    color: $gray-600;
                }
            }

            .user {
                color: $gray-600;

                .user-icon {
                    margin-right: 0.25rem;
                    opacity: 0.7;
                }
            }

            .history-month {
                margin-left: -1rem;
                margin-right: -1rem;
                margin-bottom: 2rem;

                h5 {
                    margin-top: 1rem;
                    padding: 0.5rem;
                }

                .history-day {
                    border-top: 1px solid $gray-400;

                    &:last-child {
                        border-bottom: 1px solid $gray-400;
                    }

                    .date {
                        display: block;
                        background: $gray-100;
                        color: $body-color;
                        text-decoration: none;
                        padding: 0.25rem 0.5rem 0.25rem 1.25rem;
                        position: relative;

                        &.named-only-open {
                            padding-left: 0.5rem;
                        }

                        &.open {
                            .fa {
                                position: absolute;
                                left: 8px;
                                top: 8px;
                            }
                        }

                        &.closed {
                            .fa {
                                position: absolute;
                                left: 9px;
                                top: 8px;
                            }

                        }
                    }

                    .history-day-users {
                        border-top: 1px solid $gray-400;
                        padding: 0.5rem 0.5rem 1rem;
                    }

                    .history-event {
                        border-top: 1px solid $gray-400;
                        padding: 0.5rem;

                        .event-header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            color: $gray-600;
                        }

                        .event-badges {
                            .badge {
                                margin-right: 0.5rem;
                            }
                        }

                        .event-detail {
                            margin: .5rem -.5rem .5rem 0;
                            padding: 0.5rem;
                            background-color: $gray-100;
                            border-top-left-radius: $border-radius;
                            border-bottom-left-radius: $border-radius;

                            strong {
                                font-weight: 600;
                            }

                            .answer {
                                display: flex;
                                margin-top: 0.5rem;
                                align-items: flex-start;

                                .fa {
                                    width: 2rem;
                                    margin-top: 0.25rem;
                                    color: $gray-600;
                                }
                            }
                        }
                    }
                }
            }
        }

        .todos {
            min-height: 100%;

            &-empty {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .fa-ul {
                margin-left: 1.5rem;

                li {
                    margin-top: 0.5rem;
                }

                .fa-li {
                    color: $gray-600;
                }
            }
        }
    }

    &__todos {
        .list-group {
            a {
                color: $body-color;

                &:hover {
                    text-decoration: none;
                    color: $primary;
                }

                p {
                    margin-bottom: 0;

                    &.nested {
                        border-left: 5px $gray-300 solid;
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    &__summary-report {
        h3 {
            margin-top: 50px;
        }

        .table-metrics-report {
            tbody {
                tr {
                    td:nth-child(1) {
                        width: 30%;
                    }

                    td:nth-child(2) {
                        width: 10%;
                    }

                    td:nth-child(3) {
                        width: 60%;
                    }
                }
            }
        }

        .indication-table {
            margin-bottom: 2rem;

            .indication {
                .progress {
                    width: 15rem;
                    margin-left: 1rem;
                    height: 10px;
                }
            }
        }
    }

    &__form {
        padding: 0;

        .form-group {
            margin-bottom: 60px;
            position: relative;

            &:last-child {
                margin-bottom: 5px;
            }

            & > label {
                display: flex;
                width: 100%;
                justify-content: space-between;
                font-size: 120%;
            }

            &.highlighted {
                background: theme-color-level("warning", $highlighted-bg-level);
                padding: 1rem;
                @include border-radius($alert-border-radius);

                &-resolved {
                    background: theme-color-level("success", $highlighted-bg-level);
                }
            }

            .tag-list {
                .tag {
                    margin-right: .25rem;

                    label {
                        font-size: .75rem;
                        padding: .125rem .5rem;
                    }
                }
            }
        }

        .extra-data {
            margin-top: .25rem;
            color: $gray-600;
            line-height: 1.6;

            & > span {
                margin-right: 15px;
                display: block;

                .fa {
                    color: $gray-700;
                    margin-right: 7px;
                }

                a, span {
                    font-style: italic;
                }

                a {
                    color: $gray-600;
                    text-decoration: underline;

                    &:hover {
                        color: $primary;
                    }
                }

                .caption, .separator {
                    margin-right: 5px;
                }

                .caption {
                    font-style: normal;
                }
            }
        }

        .followups-group {
            margin-top: 20px;
            border-left: 5px $gray-300 solid;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .item {
            position: relative;
            display: flex;
            align-items: flex-start;

            .card {
                background: $gray-100 !important;
                flex-grow: 1;
            }

            .btn-item-delete {
                margin-left: 10px;
            }

            .radio {
                background: $gray-200;

                &.radio-selected, &:hover:not(.radio-disabled) {
                    background: $gray-300;
                }
            }
        }

        .alert {
            margin-bottom: 0;
            margin-top: 10px;

            p:last-child {
                margin-bottom: 0;
            }
        }

        .expand-icon {
            margin-left: 10px;
            color: $gray-500;
        }

        input[type="radio"], input[type="checkbox"] {
            margin-right: 10px;
        }

        .card {
            .radio {
                border-color: $gray-400;
            }
        }

        .radio {
            @include transition(background-color 0.15s ease-in-out);
            background: $gray-100;
            border-radius: 0.25rem;
            margin-bottom: 5px;

            label {
                padding: 10px 15px;
                margin: 0;
                display: block;
                cursor: pointer;

                .badges {
                    margin-left: 20px;
                    margin-top: 5px;
                }

                .badge {
                    margin-right: 5px;
                    opacity: 0.5;
                }
            }

            &.radio-selected, &:hover:not(.radio-disabled) {
                background: $gray-200;

                .badge {
                    opacity: 1;
                }
            }

            &.radio-disabled {
                label {
                    cursor: default;
                }
            }
        }

        .custom-actions {
            display: flex;

            .action {
                color: $gray-500;
                margin-left: 0.5rem;
                max-width: 1.25rem;
                min-width: 1.25rem;
                height: 1.25rem;
                padding: 0.5rem;
                text-align: center;
                border-radius: 10rem;
                background: $gray-200;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 75%;
                transition: all 0.25s ease-in-out;


                &:hover {
                    color: $gray-700;
                    text-decoration: none;
                }


                &-add-todo {
                    //transition: all 0.25s ease-in-out;

                    & > span {
                        color: $gray-700;
                        overflow: hidden;
                        max-width: 0;
                        transition: all 0.25s ease-in-out;

                        span {
                            padding-left: 0.25rem;
                            white-space: nowrap;
                        }
                    }

                    &:hover {
                        border-color: $gray-700;
                        max-width: 10rem;

                        & > span {
                            max-width: 200px;
                        }
                    }
                }

                &-todo {
                    max-width: 10rem;
                    background: $warning;
                    color: $white;

                    a {
                        margin-left: 0.25rem;
                        color: $white;
                    }

                    &:hover {
                        color: $white;
                    }
                }
            }
        }

        a.clear-answer {
            color: $gray-600;
            display: inline-block;
            padding: 5px 15px;

            &:hover {
                text-decoration: none;
            }

            .fa {
                margin-right: 10px;
            }
        }

        .answered {
            margin-top: 0.5rem;
        }

        .badge-human-identifier {
            font-size: 85%;
            margin-bottom: 0.25rem;
            margin-right: 0.5rem;
            padding: .25em 0.8em;
        }

        .integration-extra {
            margin-top: 0.5rem;
            display: flex;
            align-items: flex-end;

            img {
                height: 1.5rem;
                margin-right: 0.25rem;
            }
        }

        .typehints {
            background: #fff;
            position: absolute;
            width: 100%;
            border: 1px solid $gray-400;
            border-radius: 0.25rem;
            z-index: 10;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-height: 200px;
            overflow: auto;

            .loading {
                padding: 10px 15px;
                opacity: 0;
                color: #aaa;
                @include animation(fadeIn, ease-in, 1);
                @include animation-duration(1s);
                @include animation-delay(.4s);
                @include animation-fill-mode(forwards);

            }

            div > .fa {
                margin-right: 5px;
            }

            .error {
                padding: 10px 15px;
                color: $danger;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    a {
                        color: $gray-700;
                        padding: 10px 14px;
                        display: flex;

                        &:hover {
                            color: $white;
                            background: $primary;
                            text-decoration: none;
                        }

                        img {
                            height: 25px;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }

        &-disabled {
            .radio {
                label {
                    cursor: default;
                }
            }

            .radio:not(.radio-selected):hover {
                background: $gray-100;
            }
        }
    }
}
