@import '../../../animations';
@import '../../../mixins';
@import '../../../variables';


.TypeHintInput {
    position: relative;

    &__Value {
        height: auto;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: $body-color !important;
        }
    }

    &.is-invalid~.invalid-feedback {
        display: block;
    }

    &__TypeHints {
        position: absolute;
        margin-top: -0.25rem;
        width: 100%;
        z-index: 100;
        border: 1px solid $gray-400;
        border-top: none;
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;

        &__Search {
            position: relative;
            padding: .35rem .75rem;
            margin-top: 0.25rem;
            background: $white;

            .fas, .far, .fab{
                position: absolute;
                left: 1.5rem;
                top: 1rem;
                color: $gray-500;
            }

            .form-control {
                padding-left: 30px;
                outline: none;
                box-shadow: none;

                &:focus {
                    border-color: $gray-400;
                }
            }
        }

        &__SimpleItem {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__ComplexItem {
            display: flex;
            padding: 0.2rem 0;

            .ItemIcon {
                margin-right: 0.5rem;
            }

            .badge {
                margin-left: 0.5rem;
            }
        }

        .loading, .error, .empty {
            background: $white;
            padding: .5rem .75rem;

            .fas, .far, .fab{
                margin-right: 0.25rem;
            }
        }

        .empty {
            font-style: italic;
        }

        .loading {
            color: $gray-500;
        }

        .error {
            color: $danger;
        }

        ul {
            margin: 0;
            padding: 0;
            background: $white;
            max-height: 250px;
            overflow-y: auto;
            border-bottom-left-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;

            li {
                list-style: none;

                a {
                    padding: .35rem .75rem;
                    display: block;
                    color: $body-color !important;
                    text-decoration: none;

                    &:hover {
                        background: $gray-200;
                        text-decoration: none !important;
                    }
                }
            }
        }
    }
}
