@import '../mixins/fade-in';


.typehint-input {
  position: relative;

  &-value {
    height: auto;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &.focus {
      border-color: var(--bs-input-focus-border-color);
      box-shadow: 0 0 0 .25rem rgba(var(--bs-focus-ring-color), 0.25);
      outline: none;
    }

    a {
      color: var(--bs-body-color) !important;
    }
  }

  &.is-invalid~.invalid-feedback {
    display: block;
  }

  .typehints {
    position: absolute;
    width: 100%;
    z-index: 100;
    background: var(--bs-white);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &-search {
      position: relative;
      padding: .35rem .75rem;
      margin-top: 0.25rem;

      .fas {
        position: absolute;
        left: 1.5rem;
        top: 1rem;
        color: var(--bs-gray-500);
      }

      .form-control {
        padding-left: 30px;
        outline: none;
        box-shadow: none;

        &:focus {
          border-color: var(--bs-gray-400);
        }
      }
    }

    &-simple-item {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-complex-item {
      display: flex;
      padding: 0.2rem 0;

      .item-icon, .ItemIcon {
        margin-right: 0.5rem;
      }

      .badge {
        margin-left: 0.5rem;
      }
    }

    .typehints-loading, .typehints-error, .typehints-empty {
      padding: .5rem .75rem;

      .fa, .fas, .far {
        margin-right: var(--bs-spacer-1);
      }
    }

    .typehints-empty {
      font-style: italic;
    }

    .typehints-loading {
      .loader {
        @include fade-in;
        color: var(--bs-gray-500);
      }
    }

    .typehints-error {
      color: var(--bs-danger);
    }

    ul {
      margin: 0;
      padding: 0;
      max-height: 250px;
      overflow-y: auto;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;

      li {
        list-style: none;
        padding: 0;

        a {
          padding: .35rem .75rem;
          display: block;
          color: var(--bs-body-color) !important;
          text-decoration: none;

          &:hover {
            background: var(--bs-gray-200);
            text-decoration: none !important;
          }

          &.selected, &.selected:hover {
            background: var(--bs-gray-300);
            text-decoration: none !important;
          }
        }
      }
    }
  }
}
