@import "~bootswatch/dist/united/variables";

.Questionnaire {
    h3 {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .chapter-description {
        margin-bottom: 50px;
        text-align: justify;
    }

    .nav {
        margin-bottom: 35px;

        a {
            word-wrap: break-word;
        }
    }

    .extra-data {
        margin-top: -10px;
        color: $gray-600;

        & > span {
            margin-right: 15px;
            display: block;

            .fa {
                color: $gray-700;
            }

            a, span {
                margin-left: 7px;
                font-style: italic;
            }

            a {
                color: $gray-600;
                text-decoration: underline;

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .summary-report {
        h3 {
            margin-top: 50px;
        }

        .table-metrics-report {
            tbody {
                tr {
                    td:nth-child(1) {
                        width: 30%;
                    }

                    td:nth-child(2) {
                        width: 10%;
                    }

                    td:nth-child(3) {
                       width: 60%;
                    }
                }
            }
        }

        .indication {
            margin-bottom: 2rem;

            p {
                margin-bottom: 0;
            }

            .progress {
                height: 10px;
            }
        }
    }
}

