@import '../../variables';

.Documents__Index {
    .questionnaire-filter {
        @include border-radius($border-radius);
        padding: .375rem .75rem;
        border: 1px solid #ced4da;
        max-width: 25%;
        white-space: nowrap;
        display: flex;
        justify-content: center;

        .questionnaire-name {
            flex: 1 1;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: .5rem;

            .fa {
                margin-right: .5rem;
            }
        }
    }
}
