.public__forgottenPassword {
    margin-top: 100px;

    .public__forgottenPassword__formButtons {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        margin-bottom: 0;
    }
}
