.Public__Login {
    .Public__Login__FormButtons {
        display: flex;
        align-items: baseline;
    }

    form {
        margin-top: 100px;

        button {
            width: 100px;
        }
    }
}