.public__login {
    .public__login__formButtons {
        display: flex;
        align-items: baseline;
    }

    form {
        margin-top: 100px;

        button {
            width: 100px;
        }
    }
}