.public__signup {
    margin-top: 100px;

    .public__signup__formButtons {
        display: flex;
        align-items: baseline;
        margin-bottom: 0;
    }

    form {
        button {
            width: 100px;
        }
    }
}
