.Public__Signup {
    margin-top: 100px;

    .Public__Signup__FormButtons {
        display: flex;
        align-items: baseline;
        margin-bottom: 0;
    }

    form {
        button {
            width: 100px;
        }
    }
}
