@import '../mixins';
@import '../variables';
@import 'KMEditor/Editor';
@import 'KMEditor/Migration';



.diff-tree-input-actions {
    padding: 0.5rem 0;
    text-align: right;
    margin-top: -2.25rem;

    a {
        font-size: 80%;
        padding: 0.25rem 0.3rem;

        .fa {
            margin-right: 0.25rem;
        }
    }

}

.diff-tree {
    @include indent(0, 20);

    width: 100%;
    height: 100%;
    position: relative;

    .inner {
        min-width: 100%;
        position: absolute;
    }

    &-input {
        @include border-radius($border-radius);
        border: 1px solid $gray-400;
        height: 15rem;
        overflow: auto;
        margin: 0;
    }

    .actions {
        padding: 0.5rem 0.7rem;
        border-bottom: 1px solid $gray-400;

        a {
            font-size: 80%;
            padding: 0.25rem 0.3rem;

            .fa {
                margin-right: 0.25rem;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding: 0 0 0 20px;
            position: relative;

            &.knowledge-model {
                padding-left: 0;
            }

            &.active::after {
                height: 27px;
                position: absolute;
                left: 0;
                top: -2px;
                background: $gray-400;
                content: ' ';
                z-index: 0;
            }

            .fa {
                margin-right: 5px;
                margin-top: 3px;
            }

            a {
                white-space: nowrap;
                padding: 1px 0;
                display: inline-block;
                z-index: 1;
                position: relative;
                color: $body-color !important;
                width: 100%;
                text-decoration: none;

                .untitled {
                    font-style: italic;
                    color: $gray-700;
                }

                &:hover {
                    text-decoration: none !important;

                    span {
                        text-decoration: underline;
                    }
                }
            }

            .caret {
                position: absolute;
                left: 0;
                width: 25px;
                text-align: center;
                color: $gray-900;
                z-index: 1;

                &:hover {
                    color: $gray-600;
                }
            }

            &.state-edited > a > span {
                color: $blue !important;
            }

            &.state-added > a > span {
                color: $green !important;
            }

            &.state-deleted > a {
                cursor: default;

                & > span {
                    color: $red !important;
                    text-decoration: line-through;
                }
            }

            &.disabled > a {
                cursor: default;

                span {
                    text-decoration: none;
                }

                &:not(.caret) {
                    color: $gray-500 !important;
                }
            }

            &.add-entity {
                a {
                    padding: $spacer-1 0 $spacer-2 0;

                    &:hover {
                        color: var(--bs-primary) !important;
                    }
                }
            }
        }
    }
}
