@import '../variables';
@import './Public/BookReference';
@import './Public/Login';
@import './Public/Questionnaire';
@import './Public/Signup';

.public {
    padding-top: 80px;
    padding-bottom: 50px;

    &--app {
        padding-top: $public-header-height;
        padding-bottom: 0;

        .navbar {
            .container-fluid {
                padding: 0;
            }
        }

        & > .container-fluid {
            padding: 0;
        }
    }

    .navbar {
        height: $public-header-height;
    }

    .navbar-brand {
        color: $side-navigation-title-color;
        background-image: $side-navigation-logo-url;
        background-repeat: no-repeat;
        background-size: 35px;
        background-position: left center;
        padding-left: 45px;
        font-weight: 500;
    }

    .navbar-expand-sm {
        background: $side-navigation-bg;
        border-bottom: 1px solid $side-navigation-border-color;
        z-index: 900;

        .navbar-nav {
            & > li {
                a {
                    @include border-radius($border-radius);
                    color: $side-navigation-text-color;
                    margin-left: 0.5rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    font-weight: 500;
                }

                a:focus {
                    background-color: transparent;
                }

                a:hover {
                    background-color: $side-navigation-link-hover-bg;
                    color: $side-navigation-link-hover-color;
                }
            }
        }
    }

    .card-header {
        font-weight: bold;
    }

    .card-body {
        .form-group:last-child {
            margin-bottom: 0;
            margin-top: 30px;
        }
    }
}
