@import "../variables";
@import "./Public/BookReference";
@import "./Public/Login";
@import "./Public/Questionnaire";
@import "./Public/Signup";

.public {
    padding-top: 160px;
    padding-bottom: 50px;

    .navbar-brand {
        color: $side-navigation-title-color;
        background-image: $side-navigation-logo-url;
        background-repeat: no-repeat;
        background-size: 35px;
        background-position: left center;
        padding-left: 45px;
    }

    .navbar-expand-sm {
        background: $side-navigation-bg;
        z-index: 900;

        .navbar-nav {
            & > li {
                a {
                    color: $side-navigation-title-color;
                    border-radius: 5px;
                    margin-left: 0.5rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                a:focus {
                    background-color: transparent;
                }

                a:hover {
                    background-color: $side-navigation-link-hover-bg;
                }
            }
        }
    }

    .card-header {
        font-weight: bold;
    }

    .card-body {
        .form-group:last-child {
            margin-bottom: 0;
            margin-top: 30px;
        }
    }
}
