@import '../mixins';
@import '../variables';

.Settings {
    &__navigation {
        flex: 0 0 20rem;
        height: 100%;
        overflow: auto;
        padding: 1rem;

        strong {
            margin-bottom: 0.5rem;

            &:not(:first-child) {
                margin-top: 1.5rem;
            }
        }
    }

    &__content {
        flex-grow: 1;
        height: 100%;
        overflow: auto;
        padding: 1rem;

        h3 {
            margin-bottom: 1rem;

            &:not(:first-child) {
                margin-top: 3rem;
            }
        }
    }

    .form-text-after {
        margin-bottom: 2rem;
    }

    .form-group-markdown {
        .card-footer {
            display: none;
        }
    }

    .input-table {
        .form-group {
            label {
                display: none;

                &.checkbox-label {
                    display: inline-block;
                    width: 100%;
                    margin-top: 7px;
                }
            }

            .row {
                padding: 0.25rem 0;
                @include border-radius($border-radius);

                &:hover {
                    background-color: $gray-200;
                }
            }
        }

        .input-table-header {
            margin-bottom: 0.25rem;
            font-weight: bold;
        }

        .btn-secondary {
            margin-top: 0.5rem;
        }

    }

    .settings-img {
        @include border-radius($border-radius);
        max-width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .nested-group {
        margin-left: 1rem;
        padding-left: 1rem;
        border-left: 5px solid $gray-200;
    }

    .Authentication {
        .prefab-selection {
            background: $gray-200;
            padding: .5rem 1rem;
            margin-bottom: 2rem;

            & > div {
                margin-top: 1rem;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 1rem;
                grid-row-gap: 1rem;
            }
        }
    }

    .Dashboard {
        .form-radio-group {
            display: flex;


            label {
                font-weight: normal;
                cursor: pointer;

                & > div {
                    padding-right: 1rem;
                }

                .settings-img {
                    margin-bottom: 1rem;
                }

                &:first-child {
                    margin-right: 0.75rem;
                }

                &:last-child {
                    margin-left: 0.75rem;
                }

                &:not(.form-check-selected) {
                    .settings-img {
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    .LookAndFeel {
        .color-picker {
            display: flex;
            width: 100%;
            margin-top: -0.5rem;

            .color {
                @include border-radius($border-radius);
                cursor: pointer;
                flex-grow: 1;
                margin: 0.25rem;
                height: 1.5rem;

                &:hover {
                    opacity: 0.9;
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .AppPreview {
            @include border-radius($border-radius);
            display: flex;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            position: relative;

            &__Panel {
                flex: 0 0 $side-navigation-width;
                background-color: $side-navigation-bg;
                overflow: hidden;
                white-space: nowrap;

                .logo {
                    color: $side-navigation-title-color;
                    font-size: 18px;
                    display: flex;
                    width: 100%;
                    text-decoration: none;
                    height: 50px;
                    justify-content: center;
                    align-items: center;
                    background: $side-navigation-logo-url;
                    background-repeat: no-repeat;
                    background-size: $side-navigation-logo-width $side-navigation-logo-height;
                    background-position: 15px center;
                    padding-left: 15px + $side-navigation-logo-width;

                    .logo-full {
                        width: 100%;
                        padding: 0 10px;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }

            &__Content {
                padding: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                .undraw {
                    width: 70%;
                }
            }

            &__Overlay {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }

        .LogoPreview {
            @include border-radius($border-radius);
            background-color: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $side-navigation-title-color;
            font-size: 18px;
            height: 50px;

            &__Logo {
                display: block;
                background-size: $side-navigation-logo-width $side-navigation-logo-height;
                background-position: center;
                background-repeat: no-repeat;
                width: $side-navigation-logo-width;
                height: $side-navigation-logo-height;
                margin-right: 10px;

                &--Original {
                    background-image: $side-navigation-logo-url;
                }
            }
        }

        .logo-upload {
            .dropzone {
                margin: auto;
                border: 10px dashed $gray-200;
                @include transition(border-color 0.1s ease-in);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 2rem;

                &.active {
                    border: 10px dashed $primary;
                }

                p {
                    margin: 1rem 0 0 0;
                    font-size: 16px;
                    color: $secondary;
                }
            }
        }
    }
}
