.UserSuggestionDropdown {
    .dropdown-menu {
        width: 250px;
    }

    .dropdown-item {
        .ItemIcon {
            display: inline-flex;
            margin-right: 0.25rem;
            vertical-align: bottom;
        }

        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}