@import "../../variables";

.ItemIcon {
    background: $gray-400;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;

    img {
        width: 100%;
        height: 100%;
        border-radius: 2.5rem;
    }
}
