@import "../variables";

.Detail {
    &__Panel {
        border-left: 1px solid $gray-300;

        p, ul, .organization {
            margin-bottom: 2rem;
        }

        .entity-id {
            cursor: pointer;
            transition: background-color 0.2s ease-in;

            &:hover {
                background-color: $code-block-bg;
            }
        }

        .organization {
            display: flex;
            align-items: center;

            .ItemIcon {
                margin-right: 0.5rem;
            }
        }
    }
}