@import '../variables';

.bg-value-100 {
    background: $color-value-100;
}

.bg-value-90 {
    background: $color-value-90;
}

.bg-value-80 {
    background: $color-value-80;
}

.bg-value-70 {
    background: $color-value-70;
}

.bg-value-60 {
    background: $color-value-60;
}

.bg-value-50 {
    background: $color-value-50;
}

.bg-value-40 {
    background: $color-value-40;
}

.bg-value-30 {
    background: $color-value-30;
}

.bg-value-20 {
    background: $color-value-20;
}

.bg-value-10 {
    background: $color-value-10;
}

.bg-value-0 {
    background: $color-value-0;
}