.fab {
    font-weight: normal;
}

.fa.ls-login {
    background: url(../img/ls-login.png) center center no-repeat;
    width: 2rem;
    height: 1rem;
    background-size: contain;
    margin-bottom: -2px;
}


.fa-stack {
    &.small {
        font-size: 0.5rem;
    }
}
