@import '../variables';
@import '../mixins';
@import '../animations';


.full-page-loader {
    text-align: center;
    color: $gray-500;
    opacity: 0;
    @include animation(fadeIn, ease-in, 1);
    @include animation-duration(1s);
    @include animation-delay(.4s);
    @include animation-fill-mode(forwards);

    .fa {
        font-size: 50px;
        margin: 20px;
    }

    &-empty {
        height: 100vh;
        padding-top: 40vh;
    }
}


.full-page-message {
    padding: 48px;
    clear: both;
    margin-top: 20px;
}


.full-page-illustrated-message {
    display: flex;
    max-width: 80rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 5rem auto auto;

    img, svg {
        width: 30%;
    }

    div {
        max-width: 50%;
        margin-left: 2rem;
    }


    p {
        font-size: 1.25rem;
    }
}
