@import '../variables';
@import '../mixins';


.nav-tabs:not(.card-header-tabs) {
    margin-bottom: $spacer-4;

    .nav-link {
        &.active, &.active:hover {
            color: $gray-700;
            cursor: default;
        }

        .fa {
            margin-right: $spacer-2;
        }
    }
}

.nav-pills {
    .nav-link {
        color: $gray-700 !important;
        font-weight: 500;
        cursor: pointer;

        &.active, &.active:hover, &:hover {
            color: $primary !important;
            background: $primary-bg;
        }

        &.active {
            cursor: default;
        }
    }
}

.nav-underline-tabs {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    .nav-item {
        .nav-link {
            color: $body-color;
            text-align: center;
            text-decoration: none !important;
            line-height: 31px;
            padding: 0 1rem;
            display: flex;
            justify-content: center;
            align-items: baseline;
            border-bottom: 2px solid rgba(0, 0, 0, 0);
            @include transition(border-bottom-color 120ms ease-in-out);

            .fa {
                margin-right: 0.3rem;
                color: $gray-600;
            }

            .badge {
                margin-left: 0.5rem;
            }

            &:hover {
                color: $body-color;
                border-bottom-color: $gray-500;
            }

            &.active {
                font-weight: 500;
                border-bottom-color: $primary;

                .fa {
                    color: $body-color;
                }
            }

            [data-content] {
                &:before {
                    content: attr(data-content);
                    display: block;
                    font-weight: bold;
                    height: 0;
                    visibility: hidden;
                }
            }
        }
    }
}