@import '../variables';

.right-panel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $right-panel-width;
    border-left: 1px solid var(--bs-input-focus-border-color);
    background: var(--bs-primary-bg);
    overflow: hidden;

    &-content {
        width: $right-panel-width;
    }
}
