@import "~bootstrap/scss/functions";
@import "variables";
@import "mixins";

a {
    cursor: pointer;

    &:not([href]):not([tabindex]) {
        color: $link-color;

        &:hover, &:active, &:focus {
            text-decoration: underline;
            color: $link-hover-color;
        }
    }

    &.disabled {
        text-decoration: none;
        color: $gray-500;
    }
}

label {
    font-weight: bold;
}

.link-with-icon {
    .fa {
        margin-right: 5px;
    }

    &.btn-lg {
        .fa {
            margin-right: 10px;
        }
    }
}

.link-with-icon-after {
    .fa {
        margin-left: 5px;
    }

    &.btn-lg {
        .fa {
            margin-left: 10px;
        }
    }
}

.alert {
    word-break: break-word;

    .fa {
        margin-right: 10px;
    }
}

.btn {
    @include not-selectable();

    &[disabled] {
        cursor: not-allowed;
    }

    &-danger {
        color: $white !important;
        text-decoration: none !important;
    }

    &-external-login {
        width: 100%;
        border: 0;
        margin-bottom: 0.5rem;
        text-decoration: none !important;
        transition: opacity 0.15s ease-in-out;

        &:hover {
            opacity: 0.8;
        }

        .fa {
            margin-right: 0.5rem;
        }
    }
}

.btn-with-loader {
    min-width: 100px;
    text-align: center;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-outline-primary:hover {
    color: $white !important;
}

.fab {
    font-weight: normal;
}

.user-icon {
    @include border-radius(100%);
    width: 1.5rem;

    &-small {
        width: 1.125rem;
    }

    &-large {
        width: 5rem;
    }
}

del, .del {
    color: $text-deleted-color;
    background: $text-delete-bg;
    text-decoration: line-through;
}

ins, .ins {
    color: $text-inserted-color;
    background: $text-inserted-bg;
    text-decoration: none;
}

.edited {
    color: $text-edited-color;
    background: $text-edited-bg;
}

.nav-tabs:not(.card-header-tabs) {
    margin-bottom: 30px;

    .nav-link {
        &:hover {
            text-decoration: none !important;
        }

        &.active, &.active:hover {
            color: $gray-700;
            cursor: default;
        }
    }
}

.nav-pills {
    .nav-link {
        &:hover {
            text-decoration: none !important;
        }

        &.active, &.active:hover {
            color: $white;
            cursor: default;
        }
    }
}

.nav-underline-tabs {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    .nav-item {
        .nav-link {
            color: $body-color;
            text-align: center;
            line-height: 31px;
            padding: 0 1rem;
            display: flex;
            justify-content: center;
            align-items: baseline;
            border-bottom: 2px solid rgba(0, 0, 0, 0);
            @include transition(border-bottom-color 120ms ease-in-out);

            .fa {
                margin-right: 0.3rem;
                color: $gray-600;
            }

            .badge {
                margin-left: 0.5rem;
            }

            &:hover {
                border-bottom-color: $gray-500;
            }

            &.active {
                font-weight: 500;
                border-bottom-color: $primary;

                .fa {
                    color: $body-color;
                }
            }

            [data-content] {
                &:before {
                    content: attr(data-content);
                    display: block;
                    font-weight: bold;
                    height: 0;
                    visibility: hidden;
                }
            }
        }
    }
}

.invalid-feedback {
    font-size: 100%;

    & + .invalid-feedback {
        margin-top: -1rem;
    }
}

code {
    background-color: $code-block-bg;
}

.dropdown-menu-right {
    top: auto !important;
    bottom: auto !important;
    left: auto !important;
    transform: none !important;
    margin-top: 35px;
}

.list-group-hover {
    li:hover, a:hover {
        background: $gray-100;
    }
}

.badge {
    &-external-service {
        .fa {
            margin-right: 5px;
        }

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.badge-value-100 {
    background: $color-value-100;
    color: color-yiq($color-value-100);
}

.badge-value-90 {
    background: $color-value-90;
    color: color-yiq($color-value-100);
}

.badge-value-80 {
    background: $color-value-80;
    color: color-yiq($color-value-100);
}

.badge-value-70 {
    background: $color-value-70;
    color: color-yiq($color-value-100);
}

.badge-value-60 {
    background: $color-value-60;
    color: color-yiq($color-value-100);
}

.badge-value-50 {
    background: $color-value-50;
    color: color-yiq($color-value-100);
}

.badge-value-40 {
    background: $color-value-40;
    color: color-yiq($color-value-100);
}

.badge-value-30 {
    background: $color-value-30;
    color: color-yiq($color-value-100);
}

.badge-value-20 {
    background: $color-value-20;
    color: color-yiq($color-value-100);
}

.badge-value-10 {
    background: $color-value-10;
    color: color-yiq($color-value-100);
}

.badge-value-0 {
    background: $color-value-0;
    color: color-yiq($color-value-100);
}

@each $color, $value in $colors {
    .badge-#{$color} {
        @include badge-variant($value);
    }
}

.bg-value-100 {
    background: $color-value-100;
}

.bg-value-90 {
    background: $color-value-90;
}

.bg-value-80 {
    background: $color-value-80;
}

.bg-value-70 {
    background: $color-value-70;
}

.bg-value-60 {
    background: $color-value-60;
}

.bg-value-50 {
    background: $color-value-50;
}

.bg-value-40 {
    background: $color-value-40;
}

.bg-value-30 {
    background: $color-value-30;
}

.bg-value-20 {
    background: $color-value-20;
    color: color-yiq($color-value-100);
}

.bg-value-10 {
    background: $color-value-10;
    color: color-yiq($color-value-100);
}

.bg-value-0 {
    background: $color-value-0;
    color: color-yiq($color-value-100);
}


.top-header {
    position: fixed;
    top: 0;
    left: $side-navigation-width;
    right: 0;
    z-index: 1000;

    .top-header-content {
        background: $gray-100;
        border-bottom: 1px solid $gray-400;
        width: 100%;
        height: $top-header-height;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        .top-header-title {
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
        }

        .top-header-actions {
            white-space: nowrap;
        }
    }
}

.side-navigation-collapsed {
    .top-header {
        left: $side-navigation-width-collapsed;
    }
}


.diff {
    .diff {
        &-added {
            background: theme-color-level("success", $alert-bg-level);
        }

        &-removed {
            text-decoration: line-through;
            background: theme-color-level("danger", $alert-bg-level);
        }
    }
}
