@import 'variables';
@import 'mixins';


body {
    overscroll-behavior-y: none;
}

.app-view {
    margin-left: $side-navigation-width;

    &.side-navigation-collapsed {
        margin-left: $side-navigation-width-collapsed;
    }

    &.app-fullscreen {
        margin-left: 0;

        .side-navigation {
            display: none;
        }
    }
}

.page {
    margin: 0;
}

.col-list {
    max-width: 80rem;
    margin-top: $spacer-4;
    margin-bottom: $spacer-4;
}

.col-wide-detail {
    max-width: 50rem;
    margin-top: $spacer-4;
    margin-bottom: $spacer-4;
}

.col-detail {
    max-width: 33rem;
    margin-top: $spacer-4;
    margin-bottom: $spacer-4;
}

.col-full {
    width: 100%;
    height: 100vh;
    display: flex;
    padding-left: 0;
    padding-right: 0;
}

.side-navigation {
    background-color: $side-navigation-bg;
    width: $side-navigation-width;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $side-navigation-border-color;


    .logo {
        color: $side-navigation-title-color;
        font-size: 18px;
        display: flex;
        width: 100%;
        height: $side-navigation-logo-height;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        background: $side-navigation-logo-url;
        background-repeat: no-repeat;
        background-size: $side-navigation-logo-width $side-navigation-logo-height;
        background-position: 10px center;
        padding: 15px 10px 15px (20px + $side-navigation-logo-width);
        flex: 0 0 50px;
        font-weight: 500;
        margin-bottom: $side-navigation-gap;

        .logo-full {
            width: 100%;
            display: flex;
            justify-content: space-between;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .menu {
        padding: 0 10px;
        margin: 0 0 $side-navigation-gap;
        overflow-y: auto;
        overflow-x: hidden;
        flex-grow: 1;

        li {
            padding: 0;
            list-style: none;
            line-height: 1.3;
            margin-bottom: 1px;
            @include border-radius($border-radius);

            &.empty {
                height: $side-navigation-gap;
            }

            a {
                display: flex;
                align-items: baseline;
                width: 100%;
                padding: 10px;
                color: $side-navigation-link-color;
                text-decoration: none;
                font-weight: 500;
                @include border-radius($border-radius);
                @include transition($side-navigation-link-transition);

                .sidebar-link {
                    margin-left: $side-navigation-icon-spacing;
                }
            }

            &.active {
                background: $side-navigation-link-active-bg !important;

                & > a {
                    color: $side-navigation-link-active-color;
                }
            }

            &:hover {
                & > a {
                    background: $side-navigation-link-hover-bg;
                    color: $side-navigation-link-hover-color;
                    text-decoration: none !important;
                }
            }

            .submenu {
                &-floating {
                    position: fixed;
                    left: $side-navigation-width - 35px;
                    top: 0;
                    display: none;
                    padding-left: 25px;
                }

                &-floating-group {

                    ul {
                        background: $side-navigation-bg;
                        width: $side-navigation-submenu-max-width;
                        padding: 5px !important;
                        border: 1px solid $side-navigation-border-color;
                        @include border-radius($border-radius);
                        box-shadow: $side-navigation-floating-shadow;

                        .submenu-heading {
                            color: $gray-600;
                            background: $gray-200;
                            text-transform: uppercase;
                            font-size: $font-size-sm;
                            font-weight: 600;
                            padding: 5px 15px;
                            margin: -5px -5px 5px -5px;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                    }
                }

                &-group {
                    padding: 0 10px 10px;

                    ul {
                        li {
                            a {
                                &:hover {
                                    background: $side-navigation-link-hover-bg2;
                                }
                            }

                            &.active {
                                a {
                                    background: $side-navigation-link-active-bg2;
                                }
                            }
                        }
                    }
                }

                &.show {
                    display: block;
                }

                ul {
                    padding: 0;
                    margin: 0;
                }

                &-tooltip {
                    transform: translateY(-50%);
                    max-width: $side-navigation-submenu-max-width;

                    ul {
                        background: $tooltip-bg;
                        color: $tooltip-color;
                        padding: $tooltip-padding-y $tooltip-padding-x;
                        border-radius: $tooltip-border-radius;
                        position: relative;
                        box-shadow: $side-navigation-floating-shadow;

                        &:before {
                            content: '';
                            border: solid transparent;
                            border-color: rgba(0, 0, 0, 0);
                            border-right-color: $tooltip-bg;
                            border-width: 5px;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            margin-left: -10px;
                        }
                    }
                }
            }
        }
    }

    .profile-info {
        border: 1px solid $side-navigation-border-color;
        background: $white;
        @include border-radius($border-radius);
        margin: 10px;
        padding: 10px;
        display: flex;
        align-items: center;

        .profile-image {
            width: 36px;
            height: 36px;
            @include border-radius(100%);
        }

        .sidebar-link {
            margin-left: 10px;
            line-height: 1.25;
            min-width: 0;

            .profile-name {
                font-weight: 500;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                max-width: 100%;
                text-overflow: ellipsis;
            }

            .profile-role {
                color: $gray-600;
                font-size: $font-size-sm;
            }
        }

        .profile-submenu {
            position: fixed;
            left: $side-navigation-width - 60px;
            top: 0;
            display: none;
            padding-left: 50px;
            transform: translateY(-100%);

            ul {
                padding: 5px 0 0;
                margin: 0;
                background: $white;
                border: 1px solid $side-navigation-border-color;
                @include border-radius($border-radius);
                box-shadow: $side-navigation-floating-shadow;
                width: $side-navigation-submenu-max-width;

                li {
                    padding: 0 5px;
                    list-style: none;
                    margin-bottom: 1px;

                    &.dark {
                        background: $side-navigation-bg;

                        &-border {
                            margin-top: 5px;
                            margin-bottom: 0;
                            padding-top: 5px;
                            padding-bottom: 1px;
                            border-top: 1px solid $side-navigation-border-color;
                        }

                        &-last {
                            padding-bottom: 5px;
                            @include border-radius-bottom($border-radius);
                        }
                    }

                    &.profile-info-submenu {
                        display: flex;
                        padding: 10px;
                        text-align: left;

                        .profile-image {
                            width: 36px !important;
                            height: 36px !important;
                        }
                        .sidebar-link {
                            display: block !important;
                        }
                    }

                    a {
                        display: flex;
                        align-items: baseline;
                        width: 100%;
                        padding: 10px;
                        color: $side-navigation-link-color;
                        text-decoration: none;
                        font-weight: 500;
                        @include border-radius($border-radius);
                        @include transition($side-navigation-link-transition);

                        .fa {
                            margin-right: $side-navigation-icon-spacing;
                        }

                        &:hover {
                            background: $side-navigation-link-hover-bg;
                            color: $side-navigation-link-hover-color;
                            text-decoration: none !important;

                            .fa {
                                color: $side-navigation-icon-hover-color;
                            }
                        }
                    }
                }
            }

            &.show {
                display: block;
            }
        }
    }

    .collapse-link {
        display: block;
        width: 100%;
        text-align: center;
        padding: $spacer-2;
        color: $gray-600 !important;
        @include transition($side-navigation-link-transition);

        &:hover {
            text-decoration: none !important;
            color: $gray-700 !important;
        }

        .fa {
            margin-right: $side-navigation-icon-spacing;
        }
    }

    &.side-navigation-collapsed {
        width: $side-navigation-width-collapsed;

        .logo {
            .logo-full {
                span {
                    display: none;
                }
            }
        }

        .sidebar-link {
            display: none !important;
        }

        .menu {
            padding: 0 5px;

            & > li {
                & > a {
                    padding: 10px 0;
                    width: 100%;
                    text-align: center;
                    display: inline-block;
                }

                .submenu {
                    &-floating {
                        left: $side-navigation-width-collapsed - 10px;
                        padding-left: 15px;
                    }
                }
            }
        }

        .profile-info {
            margin: 5px;
            padding: 5px;
            justify-content: center;

            .profile-image {
                width: 28px;
                height: 28px;
            }

            .profile-submenu {
                left: $side-navigation-width-collapsed - 20px;
                padding-left: 25px;
            }
        }

        .collapse-link {
            .fa {
                margin: 0;
            }
        }
    }
}
