@import "variables";
@import "version";


.table-build-info {
    thead {
        background: $gray-200;
    }

    &:first-child {
        margin-bottom: 2rem;
    }

    tr {
        td:first-child {
            width: 25%;
        }
    }

    #client-style-version {
        &::after {
            content: $version;
        }
    }
}
