@import "customizations/variables";
@import "customizations/variables-app";

$font-size-base: 0.875rem !default;
$primary: #0033aa !default;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// public layout
$public-header-height: 50px !default;

// side navigation
$side-navigation-logo-url: url(../img/logo.svg) !default;
$side-navigation-width: 240px !default;
$side-navigation-width-collapsed: 50px !default;
$side-navigation-bg: $primary !default;
$side-navigation-text-color: $white !default;
$side-navigation-title-color: $side-navigation-text-color !default;
$side-navigation-icon-color: $side-navigation-text-color !default;
$side-navigation-link-color: $side-navigation-text-color !default;
$side-navigation-link-active-bg: darken($side-navigation-bg, 10%) !default;
$side-navigation-link-hover-bg: darken($side-navigation-bg, 15%) !default;
$side-navigation-border-color: darken($side-navigation-bg, 10%) !default;
$side-navigation-collapse-hover: darken($side-navigation-bg, 5%) !default;


// top-header
$top-header-height: 50px !default;


// special text colors

@function color-level($color, $level: 0) {
    $color-base: if($level > 0, $black, $white);
    $level: abs($level);
    @return mix($color-base, $color, $level * $theme-color-interval);
}

$text-deleted-color: color-level($red, $alert-color-level) !default;
$text-delete-bg: color-level($red, $alert-bg-level) !default;

$text-inserted-color: color-level($green, $alert-color-level) !default;
$text-inserted-bg: color-level($green, $alert-bg-level) !default;

$text-edited-color: color-level($blue, $alert-color-level) !default;
$text-edited-bg: color-level($blue, $alert-bg-level) !default;

$code-block-bg-level: -12 !default;
$code-block-bg: color-level($code-color, $code-block-bg-level);


// colors of success
$color-value-100: $green !default;
$color-value-90: mix($green, $yellow, 80%) !default;
$color-value-80: mix($green, $yellow, 60%) !default;
$color-value-70: mix($green, $yellow, 40%) !default;
$color-value-60: mix($green, $yellow, 20%) !default;
$color-value-50: $yellow !default;
$color-value-40: mix($yellow, $red, 80%) !default;
$color-value-30: mix($yellow, $red, 60%) !default;
$color-value-20: mix($yellow, $red, 40%) !default;
$color-value-10: mix($yellow, $red, 20%) !default;
$color-value-0: $red !default;


// form engine
$highlighted-bg-level: -11;
