@import '~bootstrap/scss/functions';

@import 'customizations/variables';
@import 'customizations/variables-app';

$font-size-base: 0.875rem !default;
$primary: #0033aa !default;
$cyan: #17a2b8 !default;

$min-contrast-ratio: 3 !default;

@import '~bootstrap/scss/variables';


// public layout
$public-header-height: 50px !default;


// side navigation
$side-navigation-logo-url: url(../img/logo.svg) !default;
$side-navigation-logo-width: 35px !default;
$side-navigation-logo-height: 35px !default;
$side-navigation-width: 240px !default;
$side-navigation-width-collapsed: 50px !default;
$side-navigation-bg: $primary !default;
$side-navigation-text-color: $white !default;
$side-navigation-title-color: $side-navigation-text-color !default;
$side-navigation-icon-color: $side-navigation-text-color !default;
$side-navigation-link-color: $side-navigation-text-color !default;
$side-navigation-link-active-bg: darken($side-navigation-bg, 10%) !default;
$side-navigation-link-hover-bg: darken($side-navigation-bg, 15%) !default;
$side-navigation-border-color: darken($side-navigation-bg, 10%) !default;
$side-navigation-collapse-hover: darken($side-navigation-bg, 5%) !default;


// top-header
$top-header-height: 50px !default;


// illustrations
$illustrations-color: #4285f4 !default;


// listings
$listing-filter-dropdown-width: 300px;


// special text colors

$text-deleted-color: shift-color($red, $alert-color-scale) !default;
$text-delete-bg: shift-color($red, $alert-bg-scale) !default;

$text-inserted-color: shift-color($green, $alert-color-scale) !default;
$text-inserted-bg: shift-color($green, $alert-bg-scale) !default;

$text-edited-color: shift-color($blue, $alert-color-scale) !default;
$text-edited-bg: shift-color($blue, $alert-bg-scale) !default;

$code-block-bg-scale: -95% !default;
$code-block-bg: shift-color($code-color, $code-block-bg-scale);


// colors of success
$color-value-100: $green !default;
$color-value-90: mix($green, $yellow, 80%) !default;
$color-value-80: mix($green, $yellow, 60%) !default;
$color-value-70: mix($green, $yellow, 40%) !default;
$color-value-60: mix($green, $yellow, 20%) !default;
$color-value-50: $yellow !default;
$color-value-40: mix($yellow, $red, 80%) !default;
$color-value-30: mix($yellow, $red, 60%) !default;
$color-value-20: mix($yellow, $red, 40%) !default;
$color-value-10: mix($yellow, $red, 20%) !default;
$color-value-0: $red !default;


// form engine
$highlighted-bg-scale: -90%;


// project private comments
$comments-private-bg-scale: -95% !default;
$comments-private-primary: $purple !default;
$comments-private-color: shift-color($purple, $alert-color-scale) !default;
$comments-private-color-lighter: shift-color($purple, -10%) !default;
$comments-private-bg: shift-color($purple, $comments-private-bg-scale) !default;
$comments-private-border: shift-color($purple, $alert-border-scale) !default;


// tags
$tag-default-background: $gray-400 !default;
$tag-default-color: $body-color !default;


// spacer helpers
$spacer-0: map-get($spacers, 0); // 0
$spacer-1: map-get($spacers, 1); // 0.25rem
$spacer-2: map-get($spacers, 2); // 0.5rem
$spacer-3: map-get($spacers, 3); // 1rem
$spacer-4: map-get($spacers, 4); // 1.5rem
$spacer-5: map-get($spacers, 5); // 3rem

@import '~bootstrap/scss/maps';
