@import "../../variables";

.KnowledgeModels__Detail {
    margin: -20px 0;
    width: 100%;
    height: 100vh;
    display: flex;

    .top-header {
        .top-header-content {
            .top-header-actions {
                margin-right: 1rem;

                a {
                    margin-left: 1.5rem;
                    white-space: nowrap;
                }
            }
        }
    }

    &__Readme {
        flex-grow: 1;
        height: calc(100vh - #{$top-header-height});
        margin-top: $top-header-height;
        overflow-x: auto;

        .alert + .alert {
            margin-top: -1rem;
        }

        .readme {
            max-width: 50rem;
            margin: 20px auto;
            padding: 0 1.25rem;
        }
    }

    &__SidePanel {
        flex: 0 0 25rem;
        background: $gray-100;
        padding: 1rem;
        height: calc(100vh - #{$top-header-height});
        margin-top: $top-header-height;
        overflow-x: auto;

        dl, ul {
            margin-bottom: 0;
        }

        dd {
            &.col-12 {
                margin-bottom: 2rem;
            }

            &:last-child {
                margin-bottom: 0;
            }

            ul {
                padding-left: 1.5rem;
            }

            dt {
                color: $gray-600;
                font-weight: normal;
            }
        }

        .organization {
            display: flex;

            .ItemIcon {
                margin-right: 0.5rem;
            }
        }
    }
}
