.KnowledgeModels__Index {
    .organization-image {
        width: 1.125rem;
        height: 1.125rem;
        border-radius: 100%;
        margin-right: 0.25rem;
        vertical-align: middle;
    }
}