@import "../../../variables";

$menu-height: 50px;
$tag-selection-height: 80px;

.KMEditor__Editor__Preview {
    height: calc(100vh - #{$menu-height});
    padding: 0;

    .tag-selection {
        padding: 0.5rem 1rem;
        height: $tag-selection-height;
        background: $gray-200;
        border-bottom: 1px solid $gray-400;

        .tag-selection-header {
            margin-bottom: 1rem;

            a {
                margin-left: 1rem;
            }
        }
    }

    .questionnaire {
        height:  calc(100vh - #{$menu-height} - #{$tag-selection-height});
    }
}
