@import "../../../variables";
@import "variables";

$tag-selection-height: 80px;

.KMEditor__Editor__Preview {
    height: calc(100vh - #{$editor-header-height});
    padding: 0;

    .tag-selection {
        padding: 0.5rem 1rem;
        height: $tag-selection-height;
        background: $gray-200;
        border-bottom: 1px solid $gray-400;

        .tag-selection-header {
            margin-bottom: 1rem;

            a {
                margin-left: 1rem;
            }
        }

        .tag-list {
            margin-top: -10px;
        }
    }

    .questionnaire {
        height:  calc(100vh - #{$editor-header-height});
    }

    &--WithTags {
        .questionnaire {
            height:  calc(100vh - #{$editor-header-height} - #{$tag-selection-height});
        }
    }
}
