@import '../../variables';
@import '../../mixins';
@import 'Editor/KMEditor';
@import 'Editor/Preview';
@import 'Editor/TagEditor';
@import 'Editor/SettingsEditor';

.KMEditor__Editor {
    width: 100%;
    margin-top: -20px;
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;

    .DetailNavigation__Row__Section__Actions {
        .btn {
            margin-left: 0.5rem;
        }

        .error {
            margin-right: 1rem;
        }
    }
}


.side-navigation-collapsed {
    .KMEditor__Editor {
        .editor-header {
            left: $side-navigation-width-collapsed;
        }
    }
}