@import "../../variables";

.KMEditor__Migration {
    .form-actions {
        margin-bottom: 0;
    }

    .col-xs-8 {
        padding-right: 60px;
    }

    .col-xs-4 {
        margin-top: 50px;
    }

    .diff-tree {
        border-left: 1px solid $gray-400;

        .state-edited {
            color: $text-edited-color;
            background: $text-edited-bg;
        }

        .state-added {
            color: $text-inserted-color;
            background: $text-inserted-bg;
        }

        .state-deleted {
            color: $text-deleted-color;
            background: $text-delete-bg;
            text-decoration: line-through;
        }

        div > li:first-child {
            margin-bottom: 3rem;
        }
    }
}
