.questionnaire-detail {
    h3 {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .chapter-description {
        margin-bottom: 50px;
        text-align: justify;
    }

    .nav {
        margin-bottom: 35px;

        a {
            word-wrap: break-word;
        }
    }
}
