@import "../../variables";

$header-height: 50px;

.Questionnaires__Detail {
    width: 100%;
    margin-top: 30px;

    .questionnaire-header {
        position: fixed;
        top: 0;
        left: $side-navigation-width;
        right: 0;
        z-index: 1000;

        .questionnaire-header-content {
            background: $white;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            width: 100%;
            height: $header-height;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;

            .btn {
                margin-left: 20px;
            }
        }
    }

    .questionnaire-wrapper {
        height: calc(100vh - #{$header-height});
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: -20px;
    }
}


.side-navigation-collapsed {
    .Questionnaires__Detail {
        .questionnaire-header {
            left: $side-navigation-width-collapsed;
        }
    }
}