@import "../../variables";


.Questionnaires__Detail {
    width: 100%;
    margin-top: 30px;

    .top-header {
        .top-header-content {
            .top-header-actions {
                margin-left: 1rem;

                .btn {
                    margin-left: 1rem;
                }
            }
        }
    }

    .questionnaire-wrapper {
        height: calc(100vh - #{$top-header-height});
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: -20px;
    }
}
