@import "../../variables";

.PhaseQuestionnaireWidget {
    max-width: 60rem;
    margin: auto;

    h3 {
        margin-bottom: 2rem;
    }

    .list-group, .empty {
        margin-bottom: 3rem;
        border-top: 1px solid rgba(0,0,0,.125);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    strong {
        display: block;
        margin-bottom: .5rem;
    }
    
    .empty {
        text-align: center;
        font-style: italic;
        padding: .75rem;
        color: $gray-500;
    }
}
