@import "../../variables";

.PhaseQuestionnaireWidget {
    max-width: 60rem;
    margin: auto;

    h3 {
        margin-bottom: 2rem;
    }

    .list-group, .empty {
        margin-bottom: 3rem;
        border-top: 1px solid rgba(0,0,0,.125);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    strong {
        display: block;
        margin-bottom: .5rem;
    }
    
    .empty {
        text-align: center;
        font-style: italic;
        padding: .75rem;
        color: $gray-500;
    }

    .list-group-item {
        display: flex;
        text-decoration: none;
        padding: .75rem;
        border: 0;
        justify-content: space-between;
        align-items: flex-start;

        &:hover {
            background: $gray-200;
            color: $primary;
        }

        span {

            &.name {
                flex: 1;
                min-width: 0;

                span {
                    display: block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            &.km {
                color: $body-color;
            }

            &.badge {
                margin-left: 3rem;
            }
        }
    }
}
