@import '../../variables';

.Documents__Index {
    .project-filter {
        @include border-radius($border-radius);
        padding: .375rem .75rem;
        border: 1px solid #ced4da;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        margin-right: 0 !important;

        .project-name {
            flex: 1 1;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: .5rem;

            .fas, .far, .fab {
                margin-right: .5rem;
            }
        }
    }
}
