@import '../../variables';
@import '../../mixins';

.Markdown {
    img {
        max-width: 100%;
    }

    del {
        background: none;
        color: $body-color;
    }

    code {
        @include border-radius($border-radius);
        background: $code-block-bg;
        padding: $spacer-1;
    }

    pre {
        @include border-radius($border-radius);
        background: $code-block-bg;
        padding: $spacer-2 $spacer-3;

        code {
            background: transparent;
            padding: 0;
        }
    }

    ul, ol {
        padding-left: 1rem;

        li {
            padding-top: 0.075rem;
            padding-bottom: 0.075rem;

            input[type=checkbox] {
                margin-right: 0.25rem;
            }

            p {
                margin: 0;
            }
        }
    }

    table {
        margin-bottom: 1rem;
        width: 100%;

        tr {
            th {
                background: $gray-100;
            }

            td, th {
                border: 1px solid $gray-300;
                padding: .25rem .5rem
            }
        }
    }

    blockquote {
        background: $gray-100;
        padding: $spacer-2 $spacer-3;
        border-left: 4px solid $gray-200;
        color: $gray-700;

        p:last-child {
            margin-bottom: 0;
        }
    }
}