<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="/config.js"></script>
</head>
<body>
    <div class="full-page-loader full-page-loader-empty"><i class="fa fa-spinner fa-spin"></i></div>
</body>
</html>