@import "variables";
@import "mixins";
@import "animations";

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    h2 {
        margin: 0;
    }

    .actions {
        text-align: right;

        .btn {
            display: inline-block;
            margin-left: 10px;
            margin-top: 7px;
            min-width: 100px;
        }
    }
}

.full-page-loader {
    text-align: center;
    color: $gray-500;
    opacity: 0;
    @include animation(fadeIn, ease-in, 1);
    @include animation-duration(1s);
    @include animation-delay(.4s);
    @include animation-fill-mode(forwards);

    .fa {
        font-size: 50px;
        margin: 20px;
    }

    &-empty {
        height: 100vh;
        padding-top: 40vh;
    }
}

.alert-inline-loader {
    color: $gray-500;
    opacity: 0;
    @include animation(fadeIn, ease-in, 1);
    @include animation-duration(1s);
    @include animation-delay(.4s);
    @include animation-fill-mode(forwards);

    .fa {
        margin-right: 10px;
    }
}

.full-page-message {
    padding: 48px;
    clear: both;
    margin-top: 20px;
}


.modal-cover {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: flex;
    @include transition(opacity 0.2s ease-in);
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    .modal-dialog {
        opacity: 1;
        margin-top: -20px;
        min-width: 500px;
        @include transition(margin-top 0.2s ease-in);
    }

    &.visible {
        opacity: 1;
        max-height: 999999px;

        .modal-dialog {
            margin-top: 0;
        }
    }

    .modal-footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        &::before, &::after {
            display: none;
        }

        .btn {
            min-width: 100px;
        }
    }

    .modal-body {
        .btn {
            min-width: 100px;
        }

        .full-page-message {
            background: none;
            margin: 0;
            padding: 0 2rem;
        }
    }
}

.hidden {
    display: none;
}

select {
    word-wrap: normal;
}
