@import "mixins";
@import "animations";

.app-view {
    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        h2 {
            margin: 0;
        }

        .actions {
            text-align: right;

            .btn {
                margin-left: 10px;
            }
        }
    }

    .table-actions {
        a {
            margin-right: 15px;
        }
    }

    textarea {
        resize: vertical;
    }

    .link-with-icon {
        .fa {
            margin-right: 5px;
        }
    }

    .form-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .btn {
            min-width: 100px;
        }
    }

    .full-page-loader {
        text-align: center;
        color: #aaa;
        opacity: 0;
        @include animation(fadeIn, ease-in, 1);
        @include animation-duration(1s);
        @include animation-delay(.4s);
        @include animation-fill-mode(forwards);

        .fa {
            font-size: 50px;
            margin: 20px;
        }
    }

    .full-page-error {
        padding: 48px;
    }

    .btn-with-loader {
        width: 100px;
        text-align: center;
    }

    .alert {
        .fa {
            margin-right: 5px;
        }
    }

    .td-empty-table {
        text-align: center;
        padding: 40px;
        font-size: 16px;
        color: #aaa;
    }
}

.modal-cover {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: flex;
    @include transition(opacity 0.2s ease-in);
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    .modal-dialog {
        opacity: 1;
        margin-top: -20px;
        @include transition(margin-top 0.2s ease-in)
    }

    &.visible {
        opacity: 1;
        max-height: 999999px;

        .modal-dialog {
            margin-top: 0;
        }
    }

    .modal-footer {
        display: flex;
        justify-content: space-between;

        &::before, &::after {
            display: none;
        }
    }
}