.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    h2 {
        margin: 0;
    }

    .actions {
        text-align: right;
    }
}

.table-actions {
    a {
        margin-right: 15px;
    }
}

textarea {
    resize: vertical;
}

.link-with-icon {
    .fa {
        margin-right: 5px;
    }
}
