@import "mixins";

.app-view {
    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        h2 {
            margin: 0;
        }

        .actions {
            text-align: right;
        }
    }

    .table-actions {
        a {
            margin-right: 15px;
        }
    }

    textarea {
        resize: vertical;
    }

    .link-with-icon {
        .fa {
            margin-right: 5px;
        }
    }

    .form-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .btn {
            min-width: 100px;
        }
    }

    .full-page-loader {
        text-align: center;
        color: #aaa;
        opacity: 0;
        @include animation(fadeIn, ease-in, 1);
        @include animation-duration(1s);
        @include animation-delay(.4s);
        @include animation-fill-mode(forwards);

        .fa {
            font-size: 50px;
            margin: 20px;
        }
    }

    .full-page-error {
        padding: 48px;
    }

    .btn-with-loader {
        width: 100px;
        text-align: center;
    }

    .alert {
        .fa {
            margin-right: 5px;
        }
    }
}
