@import "variables";
@import "mixins";

.form-engine-form {
    .form-group {
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 5px;
        }

        & > label {
            display: flex;
            width: 100%;
            justify-content: space-between;
            font-size: 120%;
        }
    }

    .form-group-choices {
        & > p {
            margin-left: 25px;
        }
    }

    .followups-group {
        margin-top: 20px;
        border-left: 5px $gray-300 solid;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .item {
        position: relative;
        display: flex;
        align-items: flex-start;

        .card {
            background: $gray-100 !important;
            flex-grow: 1;
        }

        .btn-item-delete {
            margin-left: 10px;
        }

        .radio {
            background: $gray-200;

            &.radio-selected, &:hover {
                background: $gray-300;
            }
        }
    }

    .alert {
        margin-bottom: 0;
        margin-top: 10px;
    }

    .expand-icon {
        margin-left: 10px;
        color: $gray-500;
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    .card {
        .radio {
            border-color: $gray-400;
        }
    }

    .radio {
        label {
            padding: 10px 15px;
            margin: 0;
            display: block;
            cursor: pointer;

            .badges {
                margin-left: 20px;
                margin-top: 5px;
            }

            .badge {
                margin-right: 5px;
                opacity: 0.5;
            }
        }

        @include transition(background-color 0.15s ease-in-out);
        background: $gray-100;
        border-radius: 0.25rem;
        margin-bottom: 5px;

        &:hover {
            border-color: $primary;
        }

        &.radio-selected, &:hover {
            background: $gray-200;

            .badge {
                opacity: 1;
            }
        }
    }

    .custom-actions {
        a {
            color: $gray-400;
            margin-left: 10px;

            &:hover {
                color: $gray-700;
            }
        }
    }

    a.clear-answer {
        color: $gray-600;
        display: inline-block;
        padding: 5px 15px;

        &:hover {
            text-decoration: none;
        }

        .fa {
            margin-right: 10px;
        }
    }

    .badge-human-identifier {
        font-size: 85%;
        margin-bottom: 0.25rem;
        margin-right: 0.5rem;
        padding: .25em 0.8em;
    }
}
