@import "variables";

textarea {
    resize: vertical;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;

    .btn {
        min-width: 100px;
    }

    button {
        outline: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .extra-action {
        color: $gray-600;
    }
}

.form-text {
    text-align: justify;
}

.form-text-after {
    margin-top: -0.75rem;
}

.form-list-error {
    .invalid-feedback {
        display: block;
    }
}

.control-label {
    .regular {
        font-weight: normal;
        font-style: italic;
    }
}

.form-group {
    code {
        display: block;
        padding: 10px;
    }

    &-color-picker {
        input {
            display: none;
        }

        .color-buttons {
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            grid-row-gap: 5px;
            grid-column-gap: 5px;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 50px;
                border-radius: 5px;

                &.selected {
                    border: 2px solid;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &-markdown {
        .card-body {
            padding: 0;

            &>div {
                padding: 1rem;
                min-height: 10rem;
            }

            textarea {
                border: none;
                outline: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                padding: 1rem;
                height: 100%;
                min-height: 10rem;
            }
        }
    }
}

.form-control:disabled {
    color: $gray-500;
}

.form-check {
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 0;
}

.form-check-toggle {
    position: relative;
    padding-left: 0;
    line-height: 20px;

    input {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 0%;
        margin: 0;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    input + span {
        cursor: pointer;
        user-select: none;
        height: 20px;
        margin-left: 60px;
        display: block;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            display: inline-block;
            height: 20px;
            width: 40px;
            background: $white;
            border: solid 1px $gray-400;
            transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
            border-radius: 15px;
        }

        &:after {
            width: 18px;
            height: 18px;
            margin-top: 1px;
            margin-left: 1px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            background: $white;
            transition: margin-left 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            text-align: center;
            font-weight: bold;
            content: '';
            border: solid 1px $gray-400;
        }
    }

    input {
        &:checked + span {
            &:after {
                content: '';
                margin-left: 21px;
                border: none;
            }

            &:before {
                background-color: $primary;
                border-color: $primary;
                transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
            }
        }
    }
}


.form-radio-group {
    .form-check {
        padding: .5rem .5rem .5rem 2rem;
        border: 1px solid $gray-300;
        border-radius: 0.5rem;

        &:hover {
            border-color: $gray-500;
        }

        &.form-check-selected {
            border-color: $gray-500;
            background: $gray-100;
        }

        label {
            display: block;
            cursor: pointer;


            p {
                margin-bottom: 0;
                font-weight: normal;
            }
        }
    }
}

input[type=color] {
    min-height: 30px;
}