@import "variables";

.form-engine-form {
    .form-group {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 5px;
        }

        & > label {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }

    .followups-group {
        margin-top: 20px;
        border-left: 5px $gray-300 solid;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .item {
        position: relative;
        display: flex;
        align-items: flex-start;

        .card {
            flex-grow: 1;
        }

        .btn-item-delete {
            margin-left: 10px;
        }
    }

    .alert {
        margin-bottom: 0;
        margin-top: 10px;
    }

    .expand-icon {
        margin-left: 10px;
        color: $gray-500;
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    .radio {
        label {
            font-weight: normal;
        }
    }

    .custom-actions {
        a {
            color: $gray-400;
            margin-left: 10px;

            &:hover {
                color: $gray-700;
            }
        }
    }

    a.clear-answer {
        color: $gray-600;
        display: inline-block;

        &:hover {
            text-decoration: none;
        }

        .fa {
            margin-right: 10px;
        }
    }

    .badge-human-identifier {
        font-size: 85%;
        margin-bottom: 0.25rem;
        margin-right: 0.5rem;
        padding: .25em 0.8em;
    }
}
