@import "~bootswatch/united/variables";

.knowledge-model-editor {
    h3 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .form-group {
        margin-bottom: 40px;
    }

    .panel-input-child {
        padding: 8px 12px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        background: $gray-lighter;

        &:last-child {
            margin-bottom: 10px;
        }

        .panel-input-child-actions {
            a {
                margin-left: 10px;
            }
        }
    }
}
