@import "~bootswatch/united/variables";
@import "mixins";

.app-view {
    margin-left: 240px;
}

.page {
    margin: 20px;
}

.side-navigation {
    background-color: $brand-primary;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    z-index: 1;

    .logo {
        color: #fff;
        font-size: 18px;
        display: inline-block;
        width: 100%;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid darken($brand-primary, 10%);
    }

    .menu {
        padding: 0;
        margin: 15px 0 0 0;

        li {
            padding: 1px 3px;

            a {
                display: inline-block;
                width: 100%;
                padding: 10px;
                color: #fff;
                text-decoration: none;
                @include border-radius(5px);

                &.active {
                    background: darken($brand-primary, 10%) !important;
                }

                &:hover {
                    background: darken($brand-primary, 15%);
                }

                .fa {
                    display: inline-block;
                    width: 30px;
                    text-align: center
                }
            }
        }
    }

    .profile-info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 3px;
        padding: 10px;
        color: #fff;
        border-top: 1px solid darken($brand-primary, 10%);

        .name {
            display: block;
            font-size: 14px;
        }

        a {
            font-size: 12px;
            color: #fff;
            cursor: pointer;
            display: inline-block;

            .fa {
                margin-right: 3px;
            }
        }
    }
}
