@import "~bootswatch/dist/united/variables";
@import "mixins";

.app-view {
    margin-left: 240px;

    &.side-navigation-collapsed {
        margin-left: 50px;
    }
}

.page {
    margin: 20px 0;
}

.side-navigation {
    background-color: $primary;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;

    .logo {
        color: $white;
        font-size: 18px;
        display: flex;
        width: 100%;
        text-decoration: none;
        border-bottom: 1px solid darken($primary, 10%);
        height: 50px;
        justify-content: center;
        align-items: center;

        img {
            height: 25px;
        }

        .logo-full {
            width: 100%;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;

            span {
                flex: 1;
                text-align: left;
                padding-left: 10px;
            }
        }
    }

    .menu {
        padding: 0;
        margin: 15px 0 0 0;

        li {
            padding: 1px 3px;

            a {
                display: inline-block;
                width: 100%;
                padding: 10px;
                color: #fff;
                text-decoration: none;
                @include border-radius(5px);
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

                &.active {
                    background: darken($primary, 10%) !important;
                }

                &:hover {
                    background: darken($primary, 15%);
                    color: $white;
                    text-decoration: none;
                }

                .fa {
                    display: inline-block;
                    width: 30px;
                    text-align: center
                }
            }
        }
    }

    .profile-info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid darken($primary, 10%);
        padding-top: 5px;

        .name {
            display: block;
            font-size: 14px;
        }

        .btn-group {
            width: 100%;
            padding: 1px 3px;


            button {
                width: 100%;
                color: $white;
                text-decoration: none;
                padding: 10px;
                @include border-radius(5px);
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
                display: flex;
                align-items: baseline;
                border: 0;

                &::after {
                    display: none;
                }

                &:hover {
                    background: darken($primary, 15%);
                }

                .fa {
                    display: inline-block;
                    width: 30px;
                    text-align: center
                }

                &>span {
                    flex: 1;
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;
                }
            }

            .dropdown-menu {
                top: auto !important;
                bottom: 0 !important;
                min-width: 200px;
                box-shadow: 0 2px 4px rgba(0,0,0,0.1);

                .dropdown-item {
                    padding: 0.25rem 0.75rem;
                    color: $body-color;

                    &:hover {
                        text-decoration: none;
                        background: rgba(0, 0, 0, 0.075);
                    }

                    .fa {
                        width: 20px;
                        text-align: center;
                        margin-right: 5px;
                    }
                }
            }
        }

        .collapse {
            margin: 5px 0 0 0;
            padding: 5px;
            border-top: 1px solid darken($primary, 10%);
            display: block;
            text-align: center;
            color: $white;

            &:hover {
                text-decoration: none;
                background: darken($primary, 5%);
                color: $white;
            }
        }
    }

    &.side-navigation-collapsed {
        width: 50px;

        .sidebar-link {
            display: none !important;
        }

        .menu {
            li {
                a {
                    padding: 10px 0;
                    text-align: center;
                }
            }
        }

        .profile-info .btn-group {
            button {
                padding: 10px 0;
                text-align: center;
                display: inline-block;
            }
        }
    }
}
