@import "mixins";

.public-view {
    margin-top: 60px;

    .navbar-nav {
        float: right;

        & > li {
            a:focus {
                background-color: transparent;
            }

            a:hover {
                background-color: #ac3911;
            }
        }
    }

    h2 {
        color: #fff;
    }

    .navbar-brand {
        background: no-repeat left 10px center;
        @include background-image-retina("/img/elixir-logo", "png");
        background-size: 33px 34px;
        text-indent: 30px;
    }

    form {
        margin-top: 100px;

        button {
            width: 100px;
        }
    }
}
