.index-table {
    .table-actions {
        a {
            margin-right: 15px;
        }
    }

    .td-empty-table {
        text-align: center;
        padding: 40px;
        font-size: 16px;
        color: #aaa;
    }

    td:not(.table-actions):not(.td-bool) {
        .label {
            font-weight: normal;
            margin-left: 10px;
        }

        .fa {
            margin-left: 10px;
            color: #aaa;
        }
    }

    .td-bool {
        .fa {
            margin-left: 10px;
        }
    }

    tbody {
        tr:hover {
            background: #f7f7f7;
        }
    }
}
