@import "~bootswatch/dist/united/variables";

.index-table {
    .table-actions {
        a, .btn-group {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    .td-empty-table {
        text-align: center;
        padding: 40px;
        font-size: 16px;
        color: $gray-500;
    }

    td:not(.table-actions):not(.td-bool) {
        .badge {
            font-weight: normal;
            margin-left: 10px;
        }

        .fa {
            margin-left: 10px;
            color: $gray-500;
        }
    }

    .td-bool {
        .fa {
            margin-left: 10px;
        }
    }

    td {
        &, .btn, .btn-group {
            vertical-align: baseline;
        }

        .btn-link {
            padding: 0.375rem 0;
        }
    }
}
