@import "~bootswatch/dist/united/variables";

.index-table {
    .table-actions {
        a {
            margin-right: 15px;
        }
    }

    .td-empty-table {
        text-align: center;
        padding: 40px;
        font-size: 16px;
        color: $gray-500;
    }

    td:not(.table-actions):not(.td-bool) {
        .label {
            font-weight: normal;
            margin-left: 10px;
        }

        .fa {
            margin-left: 10px;
            color: $gray-500;
        }
    }

    .td-bool {
        .fa {
            margin-left: 10px;
        }
    }

    td {
        vertical-align: baseline;
    }
}
