@import "../../variables";


.Questionnaires__Detail {
    width: 100%;
    margin-top: 30px;

    .top-header {
        .top-header-content {
            .top-header-actions {
                margin-left: 1rem;

                .btn {
                    margin-left: 1rem;
                }

                .link-with-icon {
                    margin-right: 1.5rem;
                }

                .btn-group {
                    vertical-align: baseline;

                    .btn {
                        padding: 0;
                        border: 0;
                        margin: 0;
                    }
                }

                .dropdown-item {
                    padding: 0.25rem 1rem;

                    color: $gray-900;
                    text-decoration: none;

                    &:active {
                        color: $light;

                        &.text-danger {
                            background-color: $danger;
                            color: $light !important;
                        }
                    }

                    .fa {
                        width: 1.5rem;
                        text-align: center;
                        margin-right: 0.25rem;
                    }
                }
            }
        }
    }

    .questionnaire-wrapper {
        height: calc(100vh - #{$top-header-height});
        margin-bottom: -20px;
    }
}

.public {
    .Questionnaires__Detail {
        .top-header {
            left: 0;
            top: 53px;
        }

        .questionnaire-wrapper {
            height: calc(100vh - #{110px});
        }
    }
}