@import "../../variables";

.Questionnaires__Index {

    .export-formats {
        display: grid;
        grid-template-columns: 49.5% 49.5%;
        grid-row-gap: 1%;
        grid-column-gap: 1%;
    }

    .export-link {
        display: block;
        width: 100%;
        border: 1px solid $gray-300;
        padding: .75rem 1.25rem;
        border-radius: .25rem;
        margin-bottom: 0.25rem;
        color: $body-color;
        text-decoration: none;
        cursor: pointer;
        font-weight: normal;

        input {
            margin-right: 15px;
        }

        .fa {
            margin-right: 5px;
        }

        &:hover, &-selected {
            color: $primary;
            border-color: $primary;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
