@import '../../variables';

$migration-header-height: 100px;

.Questionnaire__Migration {
    width: 100%;
    margin-top: $migration-header-height;
    padding: 0;

    .top-header {
        .top-header-content {
            height: $migration-header-height;

            .top-header-actions {
                padding-left: 1rem;
            }

            .migration-info {
                font-weight: normal;
                display: flex;
                flex-direction: column;

                strong {
                    max-width: 100%;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-right: 2rem;
                    margin-bottom: 0.5rem;
                    font-size: 1.125rem;
                }

                table {
                    th {
                        padding-right: .5rem;
                        color: $gray-600;
                    }
                }
            }
        }
    }

    .questionnaire {
        height: calc(100vh - #{$migration-header-height} - 53px);
    }

    .content {
        height: calc(100vh - #{$migration-header-height});
        display: flex;

        .changes-view {
            flex: 0 0 16rem;
            height: 100%;
            overflow-y: auto;
            border-right: 1px solid $gray-400;
            border-left: 1px solid $gray-400;
            background: $gray-200;

            .list-group-item {
                cursor: pointer;
                border-radius: 0;
                border: none;
                margin-bottom: 2px;

                &.selected {
                    border-left: 5px solid $primary;
                    background: $gray-100;
                }

                &.resolved {
                    color: $gray-500;
                }

                p {
                    word-break: break-word;
                }
            }
        }

        .right-view {
            flex-grow: 1;
            height: 100%;
            display: flex;
            flex-direction: column;

            .change-view {
                flex: 0 0 50px;
                height: 53px;
                background: $gray-100;
                border-bottom: 1px solid $gray-400;
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0.5rem 1rem;

                .progress-view {
                    flex: 0 0 50%;
                }

                .controls-view {
                    .btn {
                        margin-left: 1rem;
                    }
                }

            }

            .questionnaire-view {
                flex-grow: 1;
                overflow-y: auto;
            }
        }
    }
}
