.Public__Signup {
    margin-top: -80px;
    margin-bottom: -20px;

    .form-group-accept {

        label {
            font-weight: normal;
        }

        input[type=checkbox] {
            margin-right: 5px;
        }

        &.has-error {
            .invalid-feedback {
                display: block;
            }
        }
    }
}
