@import "~bootswatch/dist/united/variables";
@import "../../../mixins";
@import "variables";

$breadcrumbs-height: 40px;

.with-error {
    .KMEditor__Editor__KMEditor {
        .pane-container {
            height: calc(100vh - #{$editor-header-height + $editor-header-error-height + $breadcrumbs-height}) !important;
        }
    }
}

.KMEditor__Editor__KMEditor {
    .editor-breadcrumbs {
        width: 100%;
        height: 40px;
        background: $gray-200;
        border-bottom: 1px solid $gray-400;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .breadcrumb {
            margin: 0;
            background: none;
            width: 100%;
        }

        .breadcrumb-item {
            max-width: 17%;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.with-link {
                color: $primary;
            }
        }

        .breadcrumb-item + .breadcrumb-item::before {
            content: "〉";
            padding: 0;
        }
    }

    .tree-col {
        background: $gray-200;
        overflow: auto;
        padding: 0;
        border-right: 1px solid $gray-400;
        height: 100%;
        width: 100%;
    }

    .editor-form-view {
        height: calc(100vh - #{$editor-header-height + $editor-header-error-height});
        overflow: auto;
        padding: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .editor-title {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            margin: 0;
        }
    }

    .pane-container {
        height: calc(100vh - #{$editor-header-height + $breadcrumbs-height}) !important;
    }

    .form-group {
        margin-bottom: 40px;
    }

    .form-text {
        margin-top: -35px;
        margin-bottom: 40px;

        .fa {
            margin-right: 4px;
        }
    }

    .card .form-group:last-child {
        margin-bottom: 0;
    }

    textarea {
        min-height: 150px;
    }

    .input-children {
        margin: 0;
        padding: 0;
    }

    .input-child {
        padding: 8px 12px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        background: $gray-200;
        border: 1px solid $gray-400;
        border-radius: 4px;
        width: 100%;
        cursor: move;
        @include not-selectable();

        a {
            text-decoration: underline;
        }

        .panel-input-child-actions {
            a {
                margin-left: 10px;
            }
        }
    }

    .input-child-placeholder {
        border: 1px dashed $primary;
        background: #fff;
        color: #fff;
        @include not-selectable();
    }

    .link-add-child {
        margin-top: 10px;
        display: inline-block;
    }

    .card-item-template {
        .card-header {
            font-weight: bold;
        }
    }

    .table-metrics {
        th {
            border-top: none;
            width: 33.3333%;
        }

        tbody {
            tr.disabled {
                .form-check {
                    label {
                        color: $gray-400;
                    }
                }
            }

            td {
                vertical-align: top;

                .form-check, .form-group, .invalid-feedback {
                    margin: 0;
                }

                .form-check {
                    margin-top: 5px;
                }

                .form-group {
                    label {
                        display: none;
                    }
                }

                .invalid-feedback {
                    padding-top: 3px;
                }
            }
        }
    }
}
