@import "../../../variables";


.KMEditor__Editor__Preview {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    padding: 0;

    .tag-selection {
        margin: 0 0 20px;
        padding: 0.5rem 1rem;
        background: $gray-200;
        border-bottom: 1px solid $gray-400;

        .tag-selection-header {
            margin-bottom: 1rem;

            a {
                margin-left: 1rem;
            }
        }
    }

    .Questionnaire {
        flex-grow: 1;
    }
}
