@import "~bootswatch/dist/united/variables";
@import "variables";

$separator-color: $gray-300;
$highlight-color: $gray-200;
$border-color: $gray-300;
$border-thick-color: $gray-400;

$row-padding: 30px;
$indent-step-padding: 25px;

$border-normal: 1px solid $border-color;
$border-thick: 3px solid $border-thick-color;

$highlight-transition: background-color 0.1s ease-in-out;


.with-error {
    .KMEditor__Editor__TagEditor {
        .editor-table-container {
            height: calc(100vh - #{$editor-header-height + $editor-header-error-height});
        }
    }
}


.KMEditor__Editor__TagEditor {
    .editor-table-container {
        overflow: auto;
        height: calc(100vh - #{$editor-header-height});
        width: 100%;

        table {
            min-width: 100%;
            border-collapse: collapse;
            border-spacing: 0;


            thead {
                th {
                    position: -webkit-sticky;
                    position: sticky;
                    top: 0;
                    background: #fff;
                    z-index: 2;
                    padding: 0;
                    transition: $highlight-transition;

                    &.highlighted {
                        background: $highlight-color;
                    }

                    &:first-child {
                        left: 0;
                        z-index: 3;
                    }

                    &.top-left {
                        div {
                            position: absolute;
                            display: inline-block;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border-right: $border-thick;
                            border-bottom: $border-thick;
                        }
                    }

                    &.th-tag {
                        text-align: center;
                        white-space: nowrap;

                        & > div {
                            padding: 5px 5px;
                            border-bottom: $border-thick;
                        }

                        .tag {
                            min-width: 80px;
                            padding: 5px 10px;
                            border-radius: 0.25rem;
                            font-weight: normal;
                        }
                    }
                }


            }

            tbody {
                tr {
                    border-bottom: $border-normal;
                    transition: $highlight-transition;

                    &:last-child {
                        border-bottom: $border-normal;
                    }

                    &.separator {
                        th {
                            div {
                                background: $separator-color;
                            }
                        }

                        td {
                            background: $separator-color;
                        }

                        &-chapter th {
                            div {
                                font-weight: bold;
                                padding-left: $row-padding;
                            }
                        }
                    }

                    &:not(.separator):hover {
                        background: $highlight-color;

                        div {
                            background: $highlight-color;
                        }

                        td {
                            background: $highlight-color !important;
                        }
                    }

                    th {
                        position: -webkit-sticky;
                        position: sticky;
                        left: 0;
                        font-weight: normal;
                        min-width: 250px;
                        z-index: 1;
                        padding: 0;

                        div {
                            background: #fff;
                            border-right: $border-thick;
                            transition: $highlight-transition;
                            padding: 5px;

                            .fa {
                                margin-right: 5px;
                                margin-left: -20px;
                            }
                        }

                        @for $i from 1 through 20 {
                            .indent-#{$i} {
                                padding-left: ($row-padding + $i * $indent-step-padding)
                            }
                        }
                    }

                    td {
                        transition: $highlight-transition;

                        &.highlighted {
                            background: $highlight-color;
                        }
                    }

                    .td-checkbox {
                        text-align: center;

                        label {
                            cursor: pointer;
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
